[2018-01-12 17:01] vmarkovtsev opened #2 "Difference between a PR and an issue"
The current README states that one needs to submit a PR with a file under a certain directory, and an issue which is linked to the PR. Both the file and an issue share much common information; what's the difference between them?

[2018-01-12 20:11] campoy commented on #2
Let me know if this is enough.
I'll also do it for GopherCon as an example (I've already been accepted)

[2018-01-12 20:17] campoy opened #4 "2018/08 - GopherCon Denver"
**URL**: https://www.gophercon.com/

**Location**: Denver, USA

**Dates**: 2018/08/27-30

**Expenses covered**:

Travel Assistance - Yes
We offer flight and hotel assistance to speakers who would not otherwise have their travel sponsored by an employer. All speakers will also receive one general admission ticket to the conference and an invitation to the VIP/Speaker dinner during the conference.

[2018-01-12 20:17] campoy commented on #4
We should attend this conference, moving to `open`.

[2018-01-12 20:27] campoy commented on #2
You can look at what a CfP plus proposal look like at https://github.com/src-d/conferences/issues/4 and https://github.com/src-d/conferences/pull/5

[2018-01-15 23:10] mcuadros opened #6 "2018/04 DEVOPS.BCN"
# DEVOPS.BCN 2018

**URL**: https://devops.barcelona

**Location**: Barcelona, Spain

**Dates**: 2018/04/10-12

**Expenses covered**: fees covered for speakers: transportation, hotel, etc

**Topic**:  Infrastructure, Configuration Management

**Call for Papers**:

- deadline: 2018/01/31
- link:     https://devops.barcelona/call-for-papers

[2018-01-15 23:11] mcuadros commented on #6
/cc @rporres

[2018-01-16 13:50] erizocosmico opened #7 "2018/05 GopherCon Iceland"
# GopherCon Iceland 2018

**URL**: https://gophercon.is/

**Location**: Reykjavik, Iceland

**Dates**: 2018/05/31-2018/06/02

**Expenses covered**: info not provided

**Topic**: Go

**Call for Papers**:

- deadline: 2018/03/04
- link: https://www.papercall.io/gophercon-iceland

**Notes**:

n/a

[2018-01-16 14:37] eiso commented on #4
Regarding sponsorship, we need to define a strategy. My first intuition is usually to designate that money to more worthwhile efforts then lining the pockets of conference organisers to have a logo on the wall. e.g. Providing scholarships for people to go to the actual conference

[2018-01-16 18:57] campoy commented on #4
Maybe we could collaborate with Women Who Go and sponsor some tickets!

[2018-01-17 00:20] campoy opened #8 "2018/05 J on the Beach"
**URL**: https://jonthebeach.com/

**Location**: Malaga, Spain

**Dates**: 2018/05/23-25

**Expenses covered**:

We offer basic accommodation during the event. Exceptionally we will also cover the flight only for freelance developers or those working in startups not funded by other companies.

**Topic**:

- Distributed Systems
- Use cases related to Big Data-Architectures-development process
- Mac

[2018-01-17 00:30] campoy opened #9 "2018/07 OSCON"
**URL**: https://conferences.oreilly.com/oscon/oscon-or

**Location**: Portland, OR USA

**Dates**: 2018/07/16-19

**Expenses covered**:

If your proposal is chosen, would you need assistance with hotel or travel related expenses (for example, because you are self-employed)? Please note: Your answer to this question will have no impact on the committee’s review of your proposal.

**Topic**:

- Sof

[2018-01-17 00:59] campoy opened #10 "2018/06 Velocity San Jose"
**URL**: https://conferences.oreilly.com/velocity/vl-ca

**Location**: San Jose, CA - USA

**Dates**: 2018/06/11-14

**Expenses covered**:

If your proposal is chosen, would you need assistance with hotel or travel related expenses (for example, because you are self-employed)? Please note: Your answer to this question will have no impact on the committee’s review of your proposal.

**Topic**:

- S

[2018-01-17 10:29] bzz commented on #8
As discussed, I think it is a relevant place to talk about src-d Data Retrieval pipeline of finding/collection/storing/processing all Git repositories in the world.

Probably, am going to submit a talk there.

[2018-01-17 10:34] bzz opened #11 "2018/06 DockerCon"
# DockerCon 2018

**URL**:  - https://2018.dockercon.com

**Location**: San Francisco, US (Moscone Center)

**Dates**: 2018/06/12-15

**Expenses covered**: ?

**Topic**:   Containers, Docker, Moby

**Call for Papers**:

- deadline: 2018/01/18
- link: https://2018.dockercon.com/call-for-papers/

**Notes**:

May be relevant for src-d infrastructure efforts.

[2018-01-18 23:24] campoy opened #12 "2018/05 Mining Software Repositories"
**URL**: https://2018.msrconf.org/

**Location**: Gothenburg, Sweden

**Dates**: 2018/05/20-21

**Expenses covered**: N/A

**Topic**:

Main one is mining software repositories, many more listed under details:

<details>
- Analysis of software ecosystems and mining of repositories across multiple projects
- Models for social and development processes that occur in large software projects
- Predicti

[2018-01-18 23:29] campoy opened #13 "2018/03 Git Merge Barcelona"
**URL**: https://git-merge.com/

**Location**: Barcelona, Spain

**Dates**: 2018/03/08

**Expenses covered**:

All speakers will receive admission to Git Merge and all regular activities, including pre-conference workshops and the afterparty. For those speakers that do not already have corporate sponsorship of their speaking engagements, we will offer travel compensation. If you fall into this cat

[2018-01-18 23:40] #2 closed, assigned to nobody

[2018-01-19 00:50] campoy commented on #11
Proposed two talks before the CfP closed!

[2018-01-19 18:25] campoy commented on #12
ping the bot

[2018-01-19 19:08] campoy commented on #12
This seems like a great place to present the engine to the world
@mcuadros @ajnavarro @erizocosmico what do you think?

[2018-01-22 21:43] warenlg opened #18 "2018/04 PyData London"
**URL**: https://pydata.org/london2018/

**Location**: London, UK

**Dates**: 2018/04/27

**Expenses covered**:

Registration will be complimentary for speakers. If it's like PyData Warsaw, trip and accommodation are not covered. But I have friends and family there who would be pleased to host me.

**Topic**: everything that combines Python and any type of Data Science

**Call for Papers**:

deadl

[2018-01-24 00:00] #13 closed, assigned to nobody

[2018-01-24 17:55] vmarkovtsev opened #19 "2018/03 GopherCon Russia"
**URL**: https://www.gophercon-russia.ru/

**Location**: Moscow, Russia

**Dates**: 2018/03/17

**Expenses covered**: transportation and hotel

**Topic**: Go

**Call for Papers**: N/A
Submit proposals through hello@gophercon-russia.ru

**Notes**:
We know Alexey, one of the organizers.

[2018-01-24 17:59] vmarkovtsev opened #20 ""Proposal template" leads to 404"
https://github.com/src-d/conferences/blob/master/.github/PULL_REQUEST_TEMPLATE.md contains https://github.com/src-d/conferences/blob/master/.github/.github/PROPOSAL_TEMPLATE.md which is 404

[2018-01-24 19:47] campoy commented on #19
Please add deadline for the Call for Papers

[2018-01-24 19:49] vmarkovtsev commented on #19
@campoy It does not exist [redacted]

[2018-01-24 20:17] campoy commented on #19
Oh, ok then. Do you know if there's any, even unofficial, date when papers are expected? if not it's fine

[2018-01-24 21:18] vmarkovtsev commented on #19
No idea, really. The only info I have is the official website.

[2018-01-25 20:06] campoy opened #23 "2018/03 Developer Relations Conference - Palo Alto"
**URL**: https://evansdata.com/drc/2018/index.php

**Location**: Palo Alto, USA

**Dates**: 2018/03/26-27

**Expenses covered**: none

**Topic**:  Developer Relations

**Call for Papers**: N/A

**Notes**:

Considering attending as many important people in Developer Relations will be there.
Cost is USD 1,095.00

[2018-01-25 20:07] campoy commented on #23
I think I should attend this conference, it is a bit pricey but at least travel cost is zero since I can take CalTrain to get there.

What do you think, @eiso?

[2018-01-29 23:29] eiso commented on #23
Discussed in person: yes.

[2018-01-30 11:47] #20 closed, assigned to nobody

[2018-01-31 10:57] rporres commented on #6
I've sent the same talk that was accepted in the configuration management camp: http://cfgmgmtcamp.eu/schedule/terraform/CoreOS.html

[2018-01-31 17:24] campoy commented on #6
Thanks @rporres, would you mind creating a PR with the abstract etc so we can keep track?
Thanks!

[2018-01-31 19:38] campoy commented on #23
I should ask Sam Ramji whether I can get a ticket from him

[2018-01-31 19:42] campoy opened #28 "2018/07 Google Cloud Next '18"
**URL**: https://cloud.withgoogle.com/next18/

**Location**: San Francisco, USA

**Dates**: 2018/07/24-27

**Expenses covered**: N/A

**Topic**:   Cloud

**Call for Papers**:

deadline: 2017/01/26
link:  N/A

**Notes**:

Great venue if we get to speak at it, huge audiences and reach, and zero cost from travel.

[2018-01-31 22:28] bzz commented on #8
Have submitted the talk "The Anatomy of a Large-Scale Git Repository Collection Pipeline".

[2018-02-06 10:30] bzz commented on #8
Would be happy to change label to `phase:waiting` but do not have enough permissions.

Ping @campoy. Also, let me know if a PR needs to be submitted or something like that.

[2018-02-06 10:43] bzz opened #29 "2018/03 FOSSASIA '18"
**URL**: https://2018.fossasia.org/

**Location**: Singapore, Singapore.

**Dates**: 2018/03/22-25

**Expenses covered**: N/A

**Topic**:
 - Machine Learning and AI
 - Open Design, IoT, Hardware, Imaging
 - Science, Tech and Education
 - Kernel and Platform
 - Database
 - Cloud, Container, DevOps
 - Open Data, Internet Society, Community
 - Open Event Solutions
 - Cybersecurity
 - Web and Mobile

[2018-02-06 12:21] bzz commented on #29
This year I was asked to moderate whole ML&AI track (schedule is being finalized now) and present on source{d} progress with MLoSC (in front of few hundreds audience).

The talk `"Machine Learning on Source Code (MLoSC): OSS stack and applications"` has been accepted.

If supported, I plan to talk about source{d} tech stack, by telling a story of how all parts of the stack fit together on:
 - eith

[2018-02-06 13:59] vmarkovtsev commented on #29
Congrats! Please adjust the title to Machine Learning **on** Source Code - this is as it goes in the papers.

We are writing a paper about id2vec - https://github.com/src-d/backlog/issues/1166 so I think it is better to go with it. Apollo paper is only planned and the research itself is far from being complete.

@zurk is seeking for "toy problems" to benchmark the quality of embeddings, so you cou

[2018-02-06 15:41] zurk commented on #29
Yes, everything is right.
Any help and ideas with "toy problems" to test our embeddings are appreciated.
Now I research literature to find what people usually do in embedding world. It will be different for us, since (almost) nobody does something like that for source code analysis as far as I know.

**(Update)** I create a raw list of what I what to try while playing with embeddings.
https://gith

[2018-02-07 15:19] campoy commented on #8
I think you should be able to change it now

[2018-02-07 16:03] campoy opened #30 "[meta] review list of ML conferences"
Got this on an email and seems like an interesting list to verify

https://blog.standuply.com/200-ai-ml-conferences-in-2018-eec7d0a50bcf

[2018-02-07 16:26] vmarkovtsev commented on #30
I looked it through in December. Applied to all that were interesting/relevant.

[2018-02-13 19:03] campoy commented on #9
Workshop proposal accepted!

[2018-02-15 16:32] bzz commented on #29
As discussed with @campoy - the only concern is if traveling that far it would make sense to have anther event.

To address it, I plan to schedule a meetup on the side, most probably with a workshop on "hands on on MLoSC stack".

As discussed with @eiso that should work, so waiting for confirmation from @campoy .

[2018-02-15 23:43] campoy commented on #29
SGTM

[2018-02-15 23:44] campoy commented on #29
(that's why I set the label `phase:accepted`)

[2018-02-16 10:00] vmarkovtsev opened #31 "2018/07 - PyData Berlin"
**URL**: https://pydata.org/berlin2018/

**Location**: Berlin, Germany

**Dates**: 20018/07/06-08

**Expenses covered**: no

**Topic**: ML, Python, R

**Call for Papers**:

deadline: March 31, 2018
link: https://pydata.org/berlin2018/cfp/

**Notes**:

PyData is a very well-known conference for data scientists.

[2018-02-16 10:33] vmarkovtsev opened #33 "2018/10 - GoLab"
**URL**: https://golab.io/

**Location**: Florence, Italy

**Dates**: 2018/10/22-23

**Expenses covered**: no

**Topic**: Go

**Call for Papers**:

deadline: 2018/04/04
link: https://www.papercall.io/golab2018

**Notes**:

Found out about it on FOSDEM... Was it Francesc who told me?

[2018-02-16 11:17] vmarkovtsev opened #35 "2018/06 - PyCon CZ"
**URL**: https://cz.pycon.org/2018/

**Location**: Prague, Czech Republic

**Dates**: start and end dates 2018/06/01-03

**Expenses covered**: no

**Topic**:  Python

**Call for Papers**:

deadline: 2018/02/28
link: https://cz.pycon.org/2018/proposals/

**Notes**:

Saw the advertisement at FOSDEM.

[2018-02-16 18:50] campoy commented on #35
This seems like a great conference, nice mix of speakers and caring about diversity.
Plus professional recordings for all talks!

Definitely worth the trip

[2018-02-16 18:56] campoy commented on #33
Let's work on the talks, the previous edition was far from perfect and the recordings were not very high quality, which kinda makes me wonder whether this is a good conference to attend

on the other hand it's a short trip from Madrid

[2018-02-16 18:57] campoy commented on #31
Definitely worth applying, anyone in the Machine Learning team should consider it

[2018-02-17 00:17] campoy opened #37 "2018/04 GOTO Chicago"
**URL**: https://gotochgo.com/

**Location**: Chicago, USA

**Dates**: 2018/04/24-27

**Expenses covered**: hotel and ticket paid by conference

**Topic**: ML, DevOps, Software Engineering

**Call for Papers**:

deadline: Closed
link: N/A

[2018-02-19 18:11] bzz commented on #29
:+1: Thank you @campoy !

Going to proceed with visa,  🛩 and 🏨.

[2018-02-22 01:15] campoy opened #41 "2018/06 - DevXCon"
**URL**: https://2018.devxcon.com/

**Location**: San Francisco, CA

**Dates**: 2018/06/04-05

**Expenses covered**: no need

**Topic**: Developer Relations

**Call for Papers**:

deadline: 2018/04/02
link: https://www.papercall.io/devxcon-2018

**Notes**:

Might be interesting to speak there for me, also to simply attend to meet other DevRellers.

[2018-02-27 06:32] vmarkovtsev commented on #23
@campoy LOL

[2018-02-28 01:19] campoy commented on #23
Well, that's a bug in the reminder 🤦‍♂️

[2018-02-28 22:33] vmarkovtsev opened #42 "2018/06 - DeveloperWeek NY"
**URL**: http://www.developerweek.com/NYC/

**Location**: New York, USA

**Dates**: 2018/06/18-20

**Expenses covered**: not clear yet, GDE should cover.

**Topic**: Software Development; AI; management

**Call for Papers**:

deadline: 2018/03/05
link: http://www.developerweek.com/NYC/conference/apply-to-speak/

**Notes**:
Found almost at random in Dec 2017 as a conference related to ML.

[2018-02-28 22:45] vmarkovtsev commented on #18
@warenlg You should apply tomorrow in any case.

@campoy Review ping.

[2018-03-01 10:05] warenlg commented on #18
# Neural Shell Completion: Deep Learning approach to improve your shell

## Abstract (400 characters)

Almost all developers use a terminal and command lines they write follow strong patterns. After gathering a dataset of histories, neural networks can be trained to accelerate your shell scripting by correcting misprints and predicting your next command based on your history. This talk also descri

[2018-03-01 10:08] warenlg commented on #18
@campoy @vmarkovtsev here is my proposal for this 30min talk, according to their CFP format.
The deadline is gonna be tomorrow, may I apply ?

[2018-03-01 16:27] vmarkovtsev opened #44 "2018/06 - ML Conference"
**URL**: https://mlconference.ai

**Location**: Munich, Germany

**Dates**: 2018/06/18-20

**Expenses covered**: no

**Topic**: ML

**Call for Papers**:

deadline: 2018/01/29
link: https://mlconference.ai/call-for-papers/

**Notes**:

[2018-03-01 22:21] campoy commented on #18
Please, apply

This is a very interesting talk. Have you considered writing a blog post with the same content?
Also, please send a PR with the abstract following the instructions in `README.md`.

Thanks

[2018-03-06 23:48] campoy commented on #42
Hey @vmarkovtsev

Please next time let me know before you actually send a talk
I don't know anything about this conference

[2018-03-07 07:19] vmarkovtsev commented on #42
@campoy Back then we did not have this repo, so I filed an issue in devrel: https://github.com/src-d/devrel/issues/26

[2018-03-20 15:33] vmarkovtsev opened #49 "2018/07 - PyCon Russia"
**URL**: http://pycon.ru/2018/

**Location**: Moscow, Russia

**Dates**: 2018/07/22-23

**Expenses covered**: no

**Topic**: Python and this means ML too

**Call for Papers**:

deadline: 2018/06/12
link: http://pycon.ru/2018/program/speakers/

**Notes**:

Vadim applied two times in the past, they rejected.

[2018-03-20 19:29] vmarkovtsev opened #51 "2018/04 - PyCon Ukraine"
**URL**: https://2018.uapycon.org/

**Location**: Kharkiv, Ukraine

**Dates**: 2018/04/28-29

**Expenses covered**: no

**Topic**: Python

**Call for Papers**:

deadline: 2018/03/11
link: https://2018.uapycon.org/#call_for_speakers

**Notes**:

We missed the cfp deadline, damn it.

[2018-03-20 19:29] #51 closed, assigned to nobody

[2018-03-22 16:04] vmarkovtsev opened #53 "2018/07 - Scalapeño"
**URL**: https://www.scalapeno2018.com/

**Location**: Beersheba, Israel

**Dates**: 2018/07/02

**Expenses covered**: nope

**Topic**: Scala

**Call for Papers**:

deadline: 2018/04/01
link: https://docs.google.com/forms/d/e/1FAIpQLSdG__usIvUxXzuSO7qGtmF97ktPzRRR9mx6Me-0XiHWE0XMCQ/viewform

**Notes**:

Super cool design.

[2018-03-22 18:18] vmarkovtsev opened #54 "2018/05 - PyDays Vienna"
**URL**: https://pyvie2018.gitlab.io/

**Location**: Vienna, Austria

**Dates**: 2018/05/04-05

**Expenses covered**: lol, no

**Topic**: Python => ML

**Call for Papers**:

deadline: 2018/03/25
link: https://www.pydays.at/cfp/

**Notes**:

Found at https://aweconf.com/#/category/backend

[2018-03-24 14:46] #35 closed, assigned to nobody

[2018-03-24 15:01] vmarkovtsev commented on #19
Feedback: https://docs.google.com/spreadsheets/d/1giLDQwTTQzP2R2Qser0EbE26uv0FHIKTZglD8qbsTj0/edit#gid=0
I asked the organizers how to interpret that and they wrote they had no idea. I can conclude that the overall impression was positive; some people were apparently buried in the ML part, since it is much harder for students than devops/best practices, and the ML hype has just started in Russia.

[2018-03-24 15:01] #19 closed, assigned to nobody

[2018-03-27 09:59] vmarkovtsev opened #57 "2018/05 - OSCAL"
**URL**: https://oscal.openlabs.cc/

**Location**: Tirana, Albania

**Dates**: 2018/05/19-20

**Expenses covered**: no

**Topic**: Open Source

**Call for Papers**:

deadline: 2018/04/01
link: https://docs.google.com/forms/d/e/1FAIpQLSfNZN8DtwBKu-Va38q7KqYZbkVv7GrxpSctcIB1FIiE_iurVg

**Notes**:

Found this thanks to @bzz's retweet

[2018-03-27 10:26] warenlg commented on #18
@campoy, the talk has not been accepted. However, I'd love to write a blog post about it, and keep submitting this talk to other conferences

[2018-03-27 10:33] warenlg opened #59 "2018/05 - PyDays Vienna"
**URL**: https://pyvie2018.gitlab.io/

**Location**: Vienna, Austria

**Dates**: 2018/05/04-05

**Expenses covered**: no

**Topic**: Python, GitHub, programming languages

**Call for Papers**:

deadline: 2018/03/25
link: lhttps://www.pydays.at/cfp/

**Notes**:

[2018-04-03 12:15] vmarkovtsev commented on #59
Duplicate of #54

[2018-04-03 12:15] #59 closed, assigned to nobody

[2018-04-04 18:46] campoy commented on #18
YES! Let's write a blog post about this 😄

Let's meet online this week and discuss the contents of the post so you can get started with an initial draft.

[2018-04-04 18:46] #18 closed, assigned to nobody

[2018-04-05 22:10] campoy commented on #53
Closing, as we didn't send any proposals

[2018-04-05 22:10] #53 closed, assigned to nobody

[2018-04-06 09:26] bzz commented on #8
The talk was not accepted, but because of that they gave us 50% discount on all the tickets and we have people going there at src-d/office#42.

[2018-04-06 09:26] #8 closed, assigned to nobody

[2018-04-06 09:29] bzz commented on #29
The talk and workshop went very well, workshop materials are in https://github.com/bzz/ml-on-code and ["Machine Learning on Code: OSS Stack for Research & Development"](https://docs.google.com/presentation/d/1M94zELEaK1gq4aVdME60AVqSRiq77NY49fqctQMIEbc/edit) talk slides are available.

[2018-04-06 09:29] #29 closed, assigned to nobody

[2018-04-07 00:21] campoy commented on #29
Please make sure you update the proposal with a link to the materials.

[2018-04-13 09:08] vmarkovtsev opened #62 "2018/04 - Retina"
**URL**: https://retina.elpais.com/

**Location**: Madrid, Spain

**Dates**: 2018/04/25

**Expenses covered**: no

**Topic**:  Google awesomeness

**Call for Papers**:

deadline: don't know
link: N/A

**Notes**:

The organizers from Google contacted Máximo. There was a meeting on which they described the requirements:
- Audience is developers, PMs and business people
- Case studies in ML/Cloud wit

[2018-04-26 13:42] mcuadros opened #65 "2018/10 - GitHub Universe"
# 2018/10 - GitHub Universe

**URL**: https://githubuniverse.com/

**Location**: SFO
**Dates**: start and end dates (2018/10/16-17)

**Expenses covered**: Yes

**Topic**:  Generalistic
**Call for Papers**:

deadline:  2018/06/01
link: https://github.submittable.com/submit/110757/github-universe-2018-call-for-proposals

**Notes**:
Maybe I am thinking on attend since I will be in SFO the week before

[2018-04-26 13:45] mcuadros opened #66 "2018/10 - HashiConf 2018"
# 2018/10 - HashiConf 2018

**URL**: https://www.hashiconf.com/
**Location**: SFO

**Dates**: 2018/10/22-24

**Expenses covered**: Maybe

**Topic**:  Infra

**Call for Papers**:

deadline: 2018/07/01
link: https://www.hashiconf.com/call-for-proposals.html

**Notes**:
I am attending as a contributor to Terraform.

/cc @rporres maybe you can send your talk here (with some updates)

[2018-04-26 14:05] rporres commented on #66
Let's talk about the updates you're thinking about, @mcuadros 😏

[2018-05-02 15:36] vmarkovtsev commented on #57
Accepted: https://oscal.openlabs.cc/speakers/vadim-markovtsev/

[2018-05-02 15:37] vmarkovtsev commented on #57
It is completely unexpected that they accepted both talks, so god please help me.

[2018-05-02 15:38] vmarkovtsev commented on #30
@campoy I think this can be closed now.

[2018-05-02 15:41] vmarkovtsev opened #67 "2018/08 - KDD London"
**URL**: http://www.kdd.org/kdd2018/

**Location**: London, England

**Dates**: 2018/08/19-23

**Expenses covered**: ?

**Topic**:  machine learning and data science

**Call for Papers**:

deadline: 2018/06/01
link: http://www.kdd.org/kdd2018/calls

**Notes**:

Appeared in https://github.com/src-d/minutes/pull/227
https://twitter.com/HamelHusain/status/991701657242161152

[2018-05-02 15:42] vmarkovtsev commented on #67
@campoy I can submit identifier splitting to http://www.kdd.org/kdd2018/calls/view/kdd-2018-project-showcase-track-call-for-proposals

[2018-05-03 09:39] bzz commented on #31
Removed "Phase:open" as deadline has passed on Apr 1.

Seems like no submissions or attending interest here. Shall this one be just closed then?

[2018-05-03 09:48] vmarkovtsev commented on #31
@bzz https://github.com/src-d/conferences/pull/32

[2018-05-14 22:06] campoy commented on #66
updated deadline (it was incorrectly formatted)

[2018-05-14 22:06] campoy commented on #66
Do you think you'd be able to give a talk? It's always worth trying and I'm happy to collaborate (even get on stage with you!)

[2018-05-14 22:07] campoy commented on #65
Updated deadline (it was in 2017!)

[2018-05-14 22:09] campoy commented on #62
Is this organized by Google? Should we talk to the organizers?

[2018-05-14 22:10] campoy commented on #62
In the future, make sure you add deadlines to conferences.
If none is available use the date of the conference.

[2018-05-14 22:10] #62 closed, assigned to nobody

[2018-05-14 22:12] vmarkovtsev commented on #62
@campoy This is a past event. Vueling pilots had a strike so Egor spoke instead of me.

Summary: available by request in DM.

[2018-05-23 13:59] campoy opened #68 "2018/11 - Scale By The Bay"
**URL**: http://scale.bythebay.io/

**Location**: San Francisco, CA

**Dates**: 2018/11/15-17

**Expenses covered**: unnecessary (local conf)

**Topic**:  Functional Programming, Data Engineering, Cognitive Frameworks

**Call for Papers**:

deadline: 2018/05/31
link:  http://scale.bythebay.io/cfp.html

**Notes**:

We were invited to apply personally by one of the organizers on this [tweet](https:/

[2018-05-25 17:07] bzz commented on #57
@campoy shall this one be closed now?

[2018-05-25 17:10] bzz commented on #9
:tada: Awesome, wich workshop are we running there?

[2018-06-03 13:35] bzz commented on #9
Not sure if that's still the case, but that explains it well, just missed it from PR

[2018-06-06 23:28] #37 closed, assigned to nobody

[2018-06-06 23:29] #7 closed, assigned to nobody

[2018-06-06 23:30] #57 closed, assigned to nobody

[2018-06-06 23:32] #54 closed, assigned to nobody

[2018-06-06 23:32] #23 closed, assigned to nobody

[2018-06-06 23:32] #6 closed, assigned to nobody

[2018-06-06 23:42] #41 closed, assigned to nobody

[2018-06-06 23:43] campoy commented on #67
Hey @vmarkovtsev, did you submit anything?

[2018-06-06 23:43] #65 closed, assigned to nobody

[2018-06-06 23:43] #33 closed, assigned to nobody

[2018-06-06 23:44] #28 closed, assigned to nobody

[2018-06-06 23:50] campoy opened #72 "2018/11 - Artificial Intelligence International Conference - Barcelona"
**URL**: http://premc.org/conferences/a2ic-artificial-intelligence

**Location**: Barcelona, Spain

**Dates**: 2018/11/21-23

**Expenses covered**: no

**Topic**:  machine learning, research

**Call for Papers**:

deadline: 2018/06/13
link: https://a2ic2018.exordo.com/

**Notes**:

I received an email from this conference and it seems like a good opportunity for the ML team to present, the trip is

[2018-06-07 06:29] vmarkovtsev commented on #67
Nope, and I am so happy I didn't!

[2018-06-07 17:09] eiso commented on #72
Never heard of it.

[2018-06-11 09:15] mcuadros commented on #66
Yep I think @rporres can give a talk, not many people are speaking about baremetal and coreos, so I think worth to try it.

[2018-06-14 08:38] zurk opened #73 "2018/06 - Moscow Python Meetup"
**URL**: http://www.moscowpython.ru/meetup/57/

**Location**: Moscow, Russia

**Dates**: 2018/06/26

**Expenses covered**: Nothing

**Topic**: Python

**Call for Papers**: No paper, talk only.

**Notes**: I will talk about embeddings, swivel algorithm and how we use it for code analysis.

[2018-06-14 16:39] vmarkovtsev commented on #31
[code]

[2018-06-14 16:39] #31 closed, assigned to nobody

[2018-06-14 16:46] vmarkovtsev opened #74 "2018/11 - Data Natives"
**URL**: http://datanatives.io/

**Location**: Berlin, Germany

**Dates**: 2018/11/22-23

**Expenses covered**: no
**Topic**:     ML, DS

**Call for Papers**:

deadline: N/A
link:     https://ftjournal.typeform.com/to/WPnpKC

**Notes**:

Vadim spoke on Data Natives in 2016. They make nice videos and organize well. There was bullshit spotted in the talks though.

[2018-06-14 16:47] vmarkovtsev commented on #74
@campoy for your consideration - I can talk if you command

[2018-06-14 16:53] vmarkovtsev opened #75 "2018/11 - Devoxx Belgium"
**URL**: https://devoxx.be/

**Location**: Antwerpen, Belgium

**Dates**: 2018/11/12-16

**Expenses covered**: covered by GDE

**Topic**:  software

**Call for Papers**:

deadline: 2018/07/06
link:  https://dvbe18.confinabox.com/

**Notes**:

They make nice videos. "Deep Learning without a Phd" was presented there.

[2018-06-14 16:53] vmarkovtsev commented on #75
@campoy for your consideration - waiting for your command

[2018-06-14 17:03] vmarkovtsev opened #76 "2018/10 - PyCon France"
**URL**: https://www.pycon.fr/2018/en

**Location**: Lille, France

**Dates**: 2018/10/04-07

**Expenses covered**: no

**Topic**:  Python

**Call for Papers**:

deadline: N/A
link: https://cfp-2018.pycon.fr/cfp/

**Notes**:

For @warenlg or @r0mainK

[2018-06-14 17:08] vmarkovtsev opened #77 "2018/11 - PiterPy"
**URL**: https://piterpy.com/

**Location**: Saint Petersburg, Russia

**Dates**: 2018/11/02-03

**Expenses covered**: no

**Topic**:   Python

**Call for Papers**:

deadline: 2018/11/01
link:  https://piterpy.com/speaker#form

**Notes**:

Russians recommended. @Guillemdb spoke there and liked it

[2018-06-14 22:32] campoy commented on #9
Sorry, totally missed this comment!
Yeah, I'm running a Go workshop and using the opportunity to run a MLonCode BoF

[2018-06-18 21:04] campoy commented on #66
The deadline is in a couple weeks, happy to review any proposal before they're send to the CfP.
@mcuadros @rporres

[2018-06-19 00:58] campoy opened #78 "2018/10 - Github Universe"
**URL**: githubuniverse.com

**Location**: San Francisco, USA

**Dates**: 2018/10/16-17

**Expenses covered**: N/A

**Topic**: git, development, collaboration

**Call for Papers**:

deadline: ?
link: https://github.submittable.com/submit/110757/github-universe-2018-call-for-proposals

**Notes**:

Website seems down and no clear deadline for CfP
Still, seems like a great place to talk about gitbase

[2018-06-19 01:03] campoy commented on #74
To be honest, this doesn't look very relevant to our interests.
How did you hear about it?

[2018-06-19 01:04] campoy commented on #75
Totally down for this!

[2018-06-19 01:25] #67 closed, assigned to nobody

[2018-06-19 08:31] vmarkovtsev commented on #75
Considering this as approved.

[2018-06-19 08:54] vmarkovtsev commented on #74
@campoy as written in the Notes, I spoke there. It is German DS/ML conference with good org and nice swag. source{d} used to have a booth in 2016 run by @philiphave and @elenagrebe

[2018-06-20 17:52] campoy commented on #74
If you think it's really worth it I'll approve it.
Could you point me to the video from the previous time?

[2018-06-22 18:11] vcoisne commented on #74
@campoy https://www.youtube.com/watch?v=HMCsxpjUqRc&list=PLgPptl9CaO3z3C_hSV_Ey9F7Dw3nw2_AL

Looks like a nice event to me. If you end up going @vmarkovtsev let me know and I will help organize a meetup at the same time.

[2018-06-22 18:15] vcoisne commented on #75
Great conference +1

@vmarkovtsev let me know when confirmed and if you're up for speaking at a meetup at the same time.

[2018-06-29 12:10] rporres commented on #66
Deadline has been extended to 16th of July. I was thinking on submitting the [talk](https://github.com/src-d/conferences/blob/master/2018-cfgmgmtcamp/coreos-baremental-provisioning-terraform.md) I gave on Configuration management camp. Most likely it would be nice to do a proper baremetal (with raspberry pis) demo, but I don't know what else I could be adding to it. If you have any ideas @mcuadros

[2018-07-02 14:04] campoy commented on #66
new deadline: 2018/07/16

[2018-07-02 14:06] campoy commented on #66
That sounds like a good topic for the conference, but maybe we can try to talk a bit more about what we do at source{d} while we're at it.

Do you have the slides from the last time? (Could you also add them [here](https://github.com/src-d/conferences/blob/master/2018-cfgmgmtcamp/coreos-baremental-provisioning-terraform.md))

[2018-07-02 14:19] rporres commented on #66
Slides url are already in that very same document you've linked 😅

Here they are anyway: http://bit.ly/2nCCgoa

[2018-07-02 16:03] campoy commented on #66
How I didn't see the link ... I'll blame the jet lag!

The content seems good but I'd improve two things:

1. make sure terraform (and other hashicorp products) are more prominent on the abstract and talk
2. in the talk you should spend a bit longer explaining what we do and why we do it

Other than that, LGTM

[2018-07-02 16:18] campoy commented on #74
The video is not great ... you can't see the slides at all.
But probably this year it will be better, one can hope.

Check with @mcuadros because I've seen he's concerned about the bandwidth spent by the ML team at conferences. I'd rather keep your appearances at conferences for larger impact ones.

[2018-07-02 16:19] rporres commented on #66
thx, @campoy

[2018-07-03 13:28] vmarkovtsev commented on #74
[code]

[2018-07-10 13:23] mcuadros commented on #66
Yep we can use rpi for sure.

[2018-07-16 09:21] rporres commented on #66
Talk proposal: https://github.com/src-d/conferences/pull/80

[2018-07-17 09:00] mcuadros commented on #74
@vmarkovtsev you can speak at the conference if, you don't need to do any effort to create the content for it and is strictly related to the style code analysis.

[2018-07-31 21:13] campoy commented on #68
Talk accepted!

[2018-07-31 21:15] #78 closed, assigned to nobody

[2018-07-31 21:17] campoy commented on #76
SGTM, feel free to apply

[2018-07-31 21:18] campoy commented on #75
Hey @vmarkovtsev, did you propose anything?

[2018-07-31 21:20] campoy commented on #74
Hey @vmarkovtsev did you apply at all?

[2018-07-31 21:26] campoy commented on #68
Next steps:

- [x] prepare talk
- [x] create slides && publish them
- [x] give talk
- [ ] release recording once available

[2018-07-31 21:28] #9 closed, assigned to nobody

[2018-07-31 21:28] #10 closed, assigned to nobody

[2018-07-31 21:28] #11 closed, assigned to nobody

[2018-07-31 21:29] #12 closed, assigned to nobody

[2018-07-31 21:29] #42 closed, assigned to nobody

[2018-07-31 21:29] #44 closed, assigned to nobody

[2018-07-31 21:29] campoy commented on #49
I'm assuming this wasn't accepted.

[2018-07-31 21:29] #49 closed, assigned to nobody

[2018-07-31 21:31] campoy commented on #73
Hey @zurk,

I had a look at the slides and they look really good.
It'd be interesting to try and make a video out of this talk.

[2018-07-31 21:33] campoy commented on #77
What's the topic of the talk you're planning to give?
Also, is the deadline really the day before the conf starts? 😕

[2018-07-31 21:33] #72 closed, assigned to nobody

[2018-08-01 08:12] zurk commented on #73
hey, cool!
here you can find original slides: https://zurk.github.io/moscow-python-06-2018/

Do you need any help from me?
Like to translate slides into English may be? :)

[2018-08-01 16:53] Guillemdb commented on #77
Nope, they don't have a definite deadline. Instead, the call for papers finishes when all the talk slots they have are covered, so the sooner you apply, the better.

[2018-08-02 18:57] campoy opened #81 "2019/02 FOSDEM"
**URL**: fosdem.org

**Location**: Brussels, Belgium

**Dates**: 2019/02/02-03

**Expenses covered**: no

**Topic**:  OSS

**Call for Papers**:

deadline: TBA
link: TBA

**Notes**:

Last year we ran the Go and Language Analysis devrooms.
We should do the same this year, or maybe change Language Analysis to ML on Code?

[2018-08-02 20:52] vcoisne commented on #73
@zurk Do you have an english version ? Would love to share on social media.

[2018-08-03 08:13] zurk commented on #73
Nope, but I think I can translate it once. In the next Open Source Day, for example.

[2018-08-10 18:48] vcoisne opened #82 "2018/11 Meetup around Open Data Science Conference SF"
**URL**: https://www.meetup.com/MLonCode/events/255617635/

**Location**: London, UK and San Francisco, CA

**Dates**:

San Francisco, CA - Nov 1, 2018

**Expenses covered**:

Maybe

**Topic**:    ML, AI

**Notes**:

Lots of very legit people are following / attending

[2018-08-13 17:25] campoy commented on #77
Interesting, @vmarkovtsev what would the topic be?
it's a very general conference (and my Russian is not good enough to judge further than that)

[2018-08-13 21:45] campoy commented on #81
CfP is now open, time to apply!

[2018-08-13 22:01] campoy commented on #81
Room proposal sent for Go devroom:

[code]

[2018-08-13 22:14] campoy commented on #81
Also room proposal sent for ML on Code devroom:

[code]

[2018-08-14 04:26] m-murad commented on #81
@campoy
The conference covers expenses (both travel and accommodation). Can you update the issue description.

[2018-08-17 00:19] marnovo opened #83 "2018/12 - NIPS (Neural Information Processing Systems) 2018"
# 2018/12 - NIPS (Neural Information Processing Systems) 2018

**URL**: https://www.nips.cc/Conferences/2018/Dates

**Location**: Montréal, Canada

**Dates**: 2018/12/03–08

**Expenses covered**: fees covered for speakers: transportation, hotel, etc

**Topic**: Machine Learning

**Call for Papers**:

deadline: 2018/05/18
link:     https://cmt3.research.microsoft.com/NIPS2018/

Still possible to su

[2018-08-17 07:21] vmarkovtsev commented on #83
Canada - all the European employees are out as in the last year. Maybe @campoy can visit...

[2018-08-22 22:50] vcoisne opened #85 "2018/11 - ESEC/FSE 2018"
**URL**: https://2018.fseconference.org/home

**Location**: Lake Buena Vista, Florida, United States

**Dates**: 2018/11/4 - 2018/11/9

**Expenses covered**: You can apply for support

**Topic**: ML for Software Engineering

**Call for Papers**: Closed

**Deadline:** next year CFP by 2019/2

**Notes**:
Seems like a great conference to attend to engage with Academia
We could fit in different tracks

[2018-08-23 10:17] vmarkovtsev commented on #85
ACM Joint European Software Engineering Conference and Symposium takes place in Florida... Weird. @warenlg should be somewhere near your house.

[2018-08-23 10:22] warenlg commented on #85
It's colocated with the workshop Prem Devanbu advertized us in Oxford, remember NL4SE https://nl4se2018.github.io/ And the deadline of the CFP for short papers is 31st August
Yes my father lives in Tampa, 1h driving from Lake Buena Vista

[2018-08-23 11:51] vmarkovtsev commented on #85
Is it possible to submit our id split paper I wonder.

[2018-08-27 23:44] campoy commented on #81
Hey @bzz, it seems you managed the Language Analysis room last year and that it was proposed in collaboration with others.

Would you have time to discuss exactly who was involved so we can repeat that this year?

[2018-08-28 01:39] vcoisne opened #86 "2018/09 - ICSME"
**URL**: https://icsme2018.github.io/

**Location**: Madrid, Spain

**Dates**: 2018/09/24 - 2018/09/28

**Expenses covered**: No travel required

**Topic**:    Software Maintenance and Evolution (ICSME) is the premier international forum for researchers and practitioners from academia, industry, and government to present, discuss, and debate the most recent ideas, experiences, and challenges in so

[2018-08-29 08:55] vmarkovtsev commented on #73
@zurk ping

[2018-08-29 08:55] vmarkovtsev commented on #75
I did not propose. We can close.

[2018-08-29 08:56] vmarkovtsev commented on #74
I did not apply, we can close.

[2018-08-29 08:57] vmarkovtsev commented on #76
@r0mainK you could talk about the PGA deduplication there.

[2018-08-29 09:15] r0mainK commented on #76
@vmarkovtsev  too late for the party :/ I just checked on the second link, the only "Talk Category" left is "Codage Participatif", french for Collective Coding. So I would have to demo `apollo` which could also be cool, but I saw on the first link that all of these kind of events are scheduled on the two first days, which are week days - I'll be in class.

Might be worth to try and contact them to

[2018-08-29 09:38] vmarkovtsev commented on #76
That's a pity.

[2018-08-29 10:05] vmarkovtsev opened #87 "2018/09 - GoWayFest 2.0"
**URL**: GoWayFest 2.0

**Location**: Minsk, Belarus

**Dates**: 2018/09/28-29

**Expenses covered**: transportation is covered, maybe the hotel too

**Topic**: Go

**Call for Papers**:

deadline: N/A
link: N/A

**Notes**:

Contacted privately by the organizers. Offered them to repeat the Francesc's talk on Gophercon or tell about how cool Hercules is ([ping](https://github.com/src-d/blog/pull/239

[2018-08-29 10:09] vmarkovtsev opened #88 "2018/10 - Nantes ML meetup"
**URL**: https://github.com/nantes-machine-learning-meetup/NMLM

**Location**: Nantes, France

**Dates**: 2018/10/01

**Expenses covered**: no

**Topic**: ML

**Call for Papers**:

deadline: N/A
link: N/A

**Notes**:

This meetup is co-organized by our @m09.

[2018-08-29 10:12] vmarkovtsev opened #89 "2018/11 - DevFest Krasnodar"
**URL**: https://www.meetup.com/meetup-group-IfBrKrSH/events/253269181/

**Location**: Krasnodar, Russia

**Dates**: 2018/11/17

**Expenses covered**: Google pays for everything if you are a GDE

**Topic**: Google tech

**Call for Papers**:

deadline: N/A
link: N/A

**Notes**:

Contacted privately by the organizers. Estimated attendance: 450.

[2018-08-29 10:14] vmarkovtsev opened #90 "2018/12 - DevFest Lisbon"
**URL**: https://www.meetup.com/gdglisbon/events/254067020/

**Location**: Lisbon, Portugal

**Dates**: 2018/12/08

**Expenses covered**: Google pays for everything if you are a GDE

**Topic**: Google tech

**Call for Papers**:

deadline: N/A
link: N/A

**Notes**:

Contacted privately by the organizers.

[2018-08-31 07:26] bzz commented on #81
sorry for delay @campoy, yes, sure. I know @dennwc was also interested to get involved.

Last year, together with LA team we were inviting many people from different projects/communities https://github.com/src-d/backlog/issues/1010#issuecomment-329136876 to co-organize and support DevRoom effort to show that it's indeed a community.

[2018-08-31 09:02] kuba-- commented on #81
Hey deadline-reminder! you are annoying ;)

[2018-08-31 09:42] bzz commented on #81
Thank you @kuba-- !

Here is the link to my answer https://github.com/src-d/conferences/issues/81#issuecomment-417577380 if somebody else is not keep on un-rolling 400 comments thread 🤖

Good example of what to avoid in lookout 😹

[2018-08-31 09:43] bzz commented on #81
and here we go https://github.com/src-d/conferences/issues/81#issuecomment-417611806

[2018-08-31 10:03] kuba-- commented on #81
@campoy - I'm closing this issue (we can reopen later), because it's still spamming

[2018-08-31 13:16] estherrgarcia commented on #86
I have found a venue for the get-together on Wednesday, 26th.
It would be the new Irish Pub in Calle Principe -- 7 min walking from Circulo de Bellas Artes (ICSME) -- O'Brian (the old O'neill's). It's big enough for 150 people. There are two floors, we would use the downstairs one. That Wednesday there is LaLiga, so they expect people attending to Barcelona game an 8 pm and Real Madrid game at 10

[2018-09-01 00:55] campoy commented on #81
Reopened issue after removing `reminder` line from the original issue
That should fix it for now

[2018-09-01 03:17] campoy opened #95 "2018/10 - Velocity NYC"
**URL**: https://conferences.oreilly.com/velocity/vl-ny

**Location**: New York, USA

**Dates**: 10/1-5

**Expenses covered**: yes (hotel/flight)

**Topic**: cloud computing, distributed systems, DevOps and SRE

**Call for Papers**:

deadline: closed
link: N/A

**Notes**:

Invited personally by organizers.

[2018-09-04 10:41] EgorBu opened #97 "2018/12 - ML conference"
# 2018/12 -  ML conference

**URL**: https://mlconference.ai

**Location**: Berlin, Germany

**Dates**: 2018/12/05-07

**Expenses covered**: we need to discuss with organizers

**Topic**:    ML

**Call for Papers**:

**Notes**:
I participated in ML conference in Munich - and it was a good conference with a lot of people with relevant ML background. They want me to make 25 minutes talk about MLonCo

[2018-09-04 17:51] vcoisne commented on #86
Thanks a lot @estherrgarcia ! Any idea of costs ?

1. It would start at 8:30 at the earliest, there is the official reception before.
2. Light snacks is fine. Nothing fancy.
3. Yes 2 beers is ok. We can order the tokens.
4. Yes the organizer of the conference will send an invitation & promote the registration via eventbrite
5. Yes via eventbrite scan codes is fine.
6. Yes stickers only. Do we have

[2018-09-04 19:49] vcoisne commented on #97
@EgorBu I think this is a great opportunity. Big +1 from me. We can also organize a meetup at the same time. Would be great to get more info on speaker expenses before accepting.

[2018-09-04 21:25] vcoisne commented on #90
@vmarkovtsev Does not look like they have big turn out at their meetups. Not sure it's worth your time.

[2018-09-04 21:32] vcoisne commented on #88
Would @m09 be giving the talk ?

[2018-09-04 21:37] vcoisne commented on #87
@vmarkovtsev have you heard from them since then ? How many attendees ?

[2018-09-04 21:38] vcoisne commented on #66
@rporres have you heard back ?

[2018-09-04 21:39] #30 closed, assigned to campoy

[2018-09-04 21:41] #74 closed, assigned to nobody

[2018-09-04 21:41] #75 closed, assigned to nobody

[2018-09-04 21:43] #76 closed, assigned to nobody

[2018-09-04 21:49] vcoisne commented on #82
@campoy Happy to submit on your behalf if you can make the SF edition ?

[2018-09-04 21:50] vcoisne commented on #83
@campoy also happy to submit for you if you can make it ?

[2018-09-04 21:52] vcoisne commented on #89
@vmarkovtsev looks like 450 is the total capacity, the group only has 288 members so I don't think turn out will be great.

[2018-09-05 06:52] vmarkovtsev commented on #89
There will be people from the outside of the group since these events are rare in that region.

[2018-09-05 06:56] vmarkovtsev commented on #90
The group has more than 1,800 members... I am afraid I have to do this low-level work so that my GDE status does not expire. The alternative is to write blog posts, but that's much more time consuming.

[2018-09-05 07:52] m09 commented on #88
No it would be @vmarkovtsev. The event page is up https://www.meetup.com/Nantes-Machine-Learning-Meetup/events/254214916/.

[2018-09-05 10:34] estherrgarcia commented on #86
The cost depends on the number of people. If we are 150 I can push them more to get a better discount than if we are 100. It would be around the 2000 euros of budget you said.

1. I will tell the venue 20.30 to be ready!
2. Np! I will send you the details.
3. Perfect. I will ask @ricardobaeta. I don't know if we can to use the old design or a new one.
4. Are you going to prepare the Eventbrite eve

[2018-09-06 13:08] EgorBu commented on #97
Updated expenses.

[2018-09-06 16:57] vcoisne commented on #90
@vmarkovtsev that's a quick / cheap flight from Madrid so if you think turn out is going to be good, I would say go for it.

[2018-09-06 18:57] vcoisne commented on #86
Perfect thank you @estherrgarcia

1 and 2. Please confirm with them, we'll know final RSVP number as we get closer to the event
3. Thanks
4. Yes here https://www.eventbrite.com/e/icsme-after-party-sponsored-by-sourced-tickets-49955465141
5. @bzz and @jfontan will be attending. Do you think you'll be able to attend ?
6. Per our Slack, lets use the old one or make a new one if we have time

Thanks a

[2018-09-07 13:50] EgorBu commented on #97
Link to talk: https://mlconference.ai/machine-learning-advanced-development/machine-learning-on-source-code/

[2018-09-10 13:31] marnovo commented on #83
@marnovo:

@NipsConference:

https://twitter.com/NipsConference/status/1037011898640752641

As for attending, I could. But that entails being allowed to attend, heh.
Nonetheless, we have until this Sunday to submit a demonstration.

[2018-09-13 13:45] rporres commented on #66
Yes. The talk was not accepted.

[2018-09-20 22:02] #4 closed, assigned to nobody

[2018-09-25 19:23] campoy commented on #97
Speaker already announced https://mlconference.ai/?gclid=EAIaIQobChMInqaJ9u_W3QIVkJJ-Ch0ozQLREAEYASAAEgLTnvD_BwE

[2018-09-25 22:18] vcoisne opened #98 "2019/05 - MSR 2019"
# - MSR 2019

**URL**: https://2019.msrconf.org/home

**Location**: Montreal, Canada

**Dates**: 2019/05/26 -  2019/05/27

**Expenses covered**: No

**Topic**:  Mining Software Repos, MLonCode, Code as Data,

**Call for Papers**:

- Abstracts due: January 15, 2019 (AOE)
- Papers due: February 6, 2019 (AOE)
- Author notification: March 1, 2019 (AOE)

deadline: 2019/02/01
link: N/A

**Notes**:

Real

[2018-09-25 22:22] campoy commented on #85
Should we attend this year? Is this a well known conference for our domain, similarly to MSR?
@vmarkovtsev

[2018-09-25 22:30] vcoisne opened #99 "2019/02 - Saner 2019"
# 2019/02 - Saner 2019

**URL**: https://saner2019.github.io/

**Location**: Hangzou, China

**Dates**: (2019/02/24-27)

**Expenses covered**: maybe

**Topic**:     ML,

**Call for Papers**:

Tool demo track deadline: 2018/11/28
Workshop track deadline: 2018/09/30

link:     https://easychair.org/account/signin.cgi?key=78122810.7aDI5VkiLVvu0dJu

**Notes**:

Could be an opportunity to meet with loc

[2018-09-25 22:36] vcoisne opened #100 "2019/03 - SysML Conference 2019"
# 2019/03 - SysML Conference

**URL**: homepage of the conference

**Location**: Stanford, CA, USA

**Dates**: start and end dates (2018/03/31-2018/04/02)

**Expenses covered**: Maybe

**Topic**:  ML

**Call for Papers**:

deadline: 2018/09/28

link: https://www.sysml.cc/submission.html

**Notes**:

Close to SF, maybe organize an event / meetup at the same time.

[2018-09-25 22:38] vcoisne commented on #77
ping @vmarkovtsev ?

[2018-09-25 22:40] campoy commented on #73
ping

[2018-09-25 22:41] campoy commented on #87
ping, @vmarkovtsev ?

[2018-09-25 22:45] campoy commented on #83
Passing this year. 2019 to be considered.

[2018-09-25 22:45] #83 closed, assigned to campoy

[2018-09-25 22:56] vcoisne opened #101 "2019/05 - CraftConf"
**URL**: https://craft-conf.com/

**Location**: Budapest, Hungary

**Dates**: 2019/05/7-2019/05/10)

**Expenses covered**: Maybe

**Topic**:    Full stack, DevOps

**Call for Papers**:

deadline: 2018/10/15
link:  https://www.papercall.io/craft-conf-2019

**Notes**:

Your software as a crime scene was a very popular topic there. Something to think about as we work on submission.

[2018-09-25 23:01] campoy opened #102 "2019/04 - Artificial Intelligence NY (O'reilly)"
**URL**: https://conferences.oreilly.com/artificial-intelligence/ai-ny

**Location**: NYC, USA

**Dates**: 2019/04/15-18

**Expenses covered**: trip + hotel covered

**Topic**:  Machine Learning, AI, MLonCode

**Call for Papers**:

deadline: 2018/10/16
link: https://conferences.oreilly.com/artificial-intelligence/ai-ny/public/cfp/675

**Notes**:

First time applying to this one, but seen how other

[2018-09-25 23:01] vcoisne opened #103 "2019/07 - OSCON"
**URL**: https://conferences.oreilly.com/oscon/oscon-or

**Location**: Portland, Oregon, USA

**Dates**: start and end dates (2019/07/15-18)

**Expenses covered**: Maybe

**Topic**:   Open Source

**Call for Papers**: November 2018–January 2019

deadline: 2019/01/15
link:     TBD

**Notes**:

Interesting for our Inner Source use case and Open Source Project Metrics / Analysis

[2018-09-25 23:04] vcoisne commented on #73
@zurk ping :)

[2018-09-25 23:05] vcoisne commented on #89
Is this confirmed @vmarkovtsev ?

[2018-09-25 23:13] vcoisne commented on #82
Submit for Boston and organize a meetup at the same time as SF.

[2018-09-25 23:24] vcoisne opened #104 "2018/10 - meetup during GitHub Universe"
**URL**: https://githubuniverse.com/

**Location**: San Francisco,

**Dates**:  2018/10/16

**Topic**:     topic of the conference: GitHub, Git,

**Notes**:

SF meetup during the conference

[2018-09-25 23:36] vcoisne opened #105 "2018/10 - Hacktoberfest"
**URL**: https://hacktoberfest.digitalocean.com/

**Location**: Worldwide

**Dates**: start and end dates (2018/10/01-31)

**Topic**:   Open Source Contributions

**Notes**:

- [x] Define KPIs / Objectives
- [x] Plan Hacktoberfest event with Holberton & Friends
- [x] Add tags to issues we want people to contribute to
- [x] Define prize for contributors
- [x] Announce participation in a blog post +

[2018-09-25 23:38] vcoisne opened #106 "2019/05 - KubeCon EU"
**URL**: https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/

**Location**: Barcelona, Spain

**Dates**: 2019/05/20-23)

**Expenses covered**: Maybe

**Topic**:   Kubernetes, CNCF projects, Open Source

**Call for Papers**:

deadline: 2019/01/18

link:    https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/cfp/

**Notes**:

CFP Opens: Monday, Octo

[2018-09-26 07:20] zurk commented on #73
ok, sorry, I lost it, guys. is it fine to translate it after we release style analyzer?

[2018-09-26 08:07] vmarkovtsev commented on #89
Confirmed and paid by Google.

[2018-09-26 08:09] vmarkovtsev commented on #87
They paid for the plane and the hotel, I am going. Should be around 200 people. It appeared to be a very well-known Go event in the CIS region.

[2018-09-26 08:10] vmarkovtsev commented on #77
I have to skip - too many Google events already on my list. Maybe @EgorBu or @m09 can participate?

[2018-09-26 08:12] vmarkovtsev commented on #77
Also tagging @warenlg @zurk

We should speak about smth related to our Analyzer framework.

@warenlg particularly can speak about his diploma (cool pics!)

[2018-09-26 08:13] vmarkovtsev commented on #77
@campoy Can you please fix the stupid bot

[2018-09-27 02:50] vcoisne commented on #105
## KPI metrics:

- Number of attendees
- Social engagement
- PR open
- PR merged
- Net new contributors
- MoM GitHub Traffic, number of stars / GitHub metrics (is traffic getting tracked via the GitHub API)

## Plan Hacktoberfest event with Holberton & Friends

- Reached out to Suzie to organize an event on 10/18 at Holberton
- Reached out to Algolia for partnership

## Teams requirements

@mcuadr

[2018-09-27 02:55] vcoisne opened #107 "2019/08 - Open Source Summit"
**URL**: https://events.linuxfoundation.org/events/open-source-summit-2019/

**Location**: San Diego, CA

**Dates**: 2019/08/21-23)

**Expenses covered**: maybe
**Topic**:     Open Source, Linux, Git
**Call for Papers**:

deadline: TBD
link:    https://events.linuxfoundation.org/events/open-source-summit-2019/program/cfp-call-for-proposals/

**Notes**:

[2018-10-03 22:55] vcoisne commented on #98
Looks like https://2019.icse-conferences.org/ is taking place right after too!

[2018-10-09 14:57] jfontan opened #108 "2019/02 - Git Merge"
# 2019/02 - Git Merge

**URL**: https://git-merge.com/

**Location**: Brussels, Belgium

**Dates**: 2019/02/01

**Expenses covered**: admission

**Topic**: Git

**Call for Papers**:

deadline: 2018/10/21
link: https://github.submittable.com/submit/8a716928-dcb9-427b-81e0-b9521ca7d055/git-merge-2019-call-for-proposals

**Notes**:

Initial abstract for gitbase talk:

[2018-10-10 14:47] marnovo commented on #108
Actually the deadline is now in Oct 21!!

Well, seems I can't fight the deadline reminder bot, so @jfontan please edit your post.

[2018-10-11 01:21] vcoisne commented on #108
@jfontan have you submitted already ? Would it be possible to make the talk more about the Engine (mentioned in the title and abstract) with a focus on Gitbase ?

[2018-10-11 06:49] mcuadros commented on #108
The conference is about git, I rather talk more focus than broad, and generic

[2018-10-11 08:09] jfontan commented on #108
I still have not sent anything. First I wanted you to review the abstract. I can narrow the scope to how gitbase maps git objects to tables and implementation details to make it faster. Like the squash idea of chaining iterators and indexes.

[2018-10-11 19:59] vcoisne commented on #108
@jfontan  I think the initial scope is fine, I was only suggesting to mention source{d} Engine somewhere in the abstract.

For example: "At source{d} we analyze a huge amount of git repositories and extract insights on source code. To do this have created source{d} Engine, a powerful engine for language-agnostic analysis of your source code and git history. The git history part of the analysis is

[2018-10-11 23:39] campoy commented on #77
Hey, the bot is not stupid! It just enjoys talking to you, man.
I added fixing it to my todo list, but also to the hacktoberfest list, maybe someone fixes it before I get to it?

[2018-10-12 08:16] zurk commented on #77
Sorry guys, I miss that you tag me here. I should be in Moscow on 2 Nov. Unfortunately, I cannot attend.

[2018-10-12 11:19] jfontan commented on #108
If you agree I'll submit this next week. The title will be the same as in gitbase repo:

"gitbase, SQL interface to Git repositories"

[2018-10-12 14:03] kuba-- commented on #81
I propose to give a talk in DB dev-room about "how we implemented indexes for git database using  bitmaps and key-value storage"

In other words:
- general introduction to gitbase (what it is and how it works)
- where indexes are used and how
- deep dive into design (pilosa bitmaps + boltdb mapping)
- current limitations

[2018-10-15 17:23] campoy commented on #81
Make sure you propose the talk following the instructions [here](https://medium.com/@maartjeme/go-devroom-cfp-fosdem-2019-60616770f3a5), @kuba--

[2018-10-16 09:11] m09 commented on #77
For some reason I also missed the tag. I can attend but it's maybe a bit early since our style analyzer (which would probably be the subject of the talk) doesn't target python yet. WDYT @vmarkovtsev?

[2018-10-16 09:17] vmarkovtsev commented on #77
AFAIK speaking about Python in the context of any code analysis is nice, and the people are going to like it anyway. E.g. I remember one guy who talked about web services in Erlang and nobody complained.

But Hugo you are already doomed because no way you can get a Russian visa within the remaining two weeks.

[2018-10-16 09:19] m09 commented on #77
That settles it then :/

[2018-10-17 15:39] vmarkovtsev commented on #87
The talk was given. http://vmarkovtsev.github.io/gowayfest-2018-minsk/

[2018-10-17 15:39] vmarkovtsev commented on #88
The talk was given. http://vmarkovtsev.github.io/tfjs-2018-nantes/

[2018-10-17 18:13] vcoisne commented on #104
That was Hacktoberfest event

[2018-10-17 18:13] #104 closed, assigned to nobody

[2018-10-17 18:14] vcoisne commented on #86
Completed.

[2018-10-17 18:14] #86 closed, assigned to nobody

[2018-10-17 18:14] campoy commented on #95
TODO: add slides and recording once they're available

[2018-10-17 18:18] campoy commented on #88
Please send a PR adding the slides to your proposal https://github.com/src-d/conferences/pull/91/files

[2018-10-17 18:22] campoy commented on #85
I guess no one is going.

[2018-10-17 18:22] #85 closed, assigned to nobody

[2018-10-17 18:23] campoy commented on #77
Ok, then closing this.

[2018-10-17 18:23] #77 closed, assigned to nobody

[2018-10-17 18:26] campoy commented on #82
@vcoisne to update this with new plans

[2018-10-17 18:27] campoy commented on #90
@vmarkovtsev to start booking tickets and organizing talk

[2018-10-17 18:40] campoy commented on #90
Could you also verify whether the trip/hotel is paid by GDE?

[2018-10-17 20:41] campoy commented on #87
Awesome!

[2018-10-17 20:41] #87 closed, assigned to nobody

[2018-10-17 21:47] vmarkovtsev commented on #90
@campoy It is paid 100%. The talk is already settled and I just need to file another GDE approval.

[2018-10-18 13:23] jfontan commented on #108
I've already submitted the proposal.

[2018-10-18 17:50] campoy commented on #90
That's awesome (we're working on DevRel budget)

[2018-10-19 16:22] vcoisne commented on #108
Perfect thanks @jfontan !

[2018-10-22 17:50] campoy opened #110 "2018/11 - GOTO Copenhagen"
**URL**: https://gotocph.com/

**Location**: Copenhagen, Denmark

**Dates**: 2018/11/19-23

**Expenses covered**: Yes, but we switched for bronze sponsorship

**Topic**: CLOUD NATIVE, SECURITY, MACHINE LEARNING, ADVANCED MOBILE, DEVOPS, SERVERLESS, MICROSERVICES, AGILE

**Call for Papers**:

deadline: already closed
link:  N/A

**Notes**:

Invited personally by the organizers to do a keynote talk

[2018-10-22 18:39] vcoisne commented on #82
updated

[2018-10-25 08:39] bzz commented on #101
Shall we close now, when CfP deadline has passed?

[2018-10-25 08:40] bzz commented on #100
Shall we close it, when CfP deadline has passed?

[2018-10-25 08:43] bzz commented on #102
Seems like deadline has passed on this one as well.

[2018-10-25 17:17] vcoisne commented on #100
@bzz The idea was to maybe attend and organize a meetup at the same time so I would keep it open for now

[2018-10-25 17:32] vcoisne commented on #101
I think we should yes.

[2018-10-25 17:32] #101 closed, assigned to nobody

[2018-10-26 20:45] vcoisne commented on #108
@campoy here is the info on sponsorship per our conversation.

Community level is $10K and includes the following:

- Logo on signage and interstitial slides
- Logo and link on event website
- Logo in communications to attendees
- Option to add-on demo lounge or afterparty
- (3) complimentary conference badges plus 50% any additional badges (please note tickets to workshop day are separate)
- Verb

[2018-10-26 21:27] campoy commented on #99
I think this is worth the effort to open up to the Chinese market.

What do you think,  @eiso? I could attend after FOSDEM.

[2018-10-26 21:52] #102 closed, assigned to nobody

[2018-10-28 11:03] erizocosmico opened #111 "2018/11 - Codemotion"
# 2018/11 - Codemotion

**URL**: https://madrid2018.codemotionworld.com

**Location**: Madrid, Spain

**Dates**: 2018/11/30-2018/12/1

**Expenses covered**: n/a

**Topic**: general

**Call for Papers**:

Deadline already over

**Notes**:

There's a talk on how to back up large amount of Git data by someone who works at GitHub that may be interesting for us.

[2018-10-30 03:00] bzz commented on #111
AFAIK this conference became "company-oriented" and the same organizers are now host https://2018.commit-conf.com/ on 23-24 of Nov in Madrid.

It may be very much worth attending, as this is the biggest OSS community gettogether in Spain.

[2018-10-30 20:44] campoy opened #112 "2019/06 - Velocity San Jose"
**URL**: https://conferences.oreilly.com/vl-ca

**Location**: San Jose, CA USA

**Dates**: 2019/06/10-13

**Expenses covered**: N/A

**Topic**:

- Cloud, Cloud Native, and Infrastructure
- Serverless
- Containers, Kubernetes, and Microservices
- Monitoring, Observability, and Performance
- SRE and DevOps
- Distributed Data and State
- Security
- Systems Engineering and Architecture
- Leadership
-

[2018-10-31 18:24] campoy commented on #108
As discussed in person this doesn't seem to be worth it at this point.
Let's not sponsor, let's simply attend.

Let's also make sure that all of us attending the conference invite everyone to attend our devrooms and event on Saturday.

[2018-10-31 21:41] campoy opened #113 "2019/12 - Kubecon / CloudNativeCon North America"
**URL**: https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2018/

**Location**: Seattle, WA

**Dates**: 2019/12/10-13

**Expenses covered**: No

**Topic**: Kubernetes and other CNCF projects

**Call for Papers**:

deadline: closed
link: n/a

**Notes**:

Many potential customers will be attending, so it seems like a great opportunity to socialize.
Tickets are really exp

[2018-10-31 22:01] campoy commented on #113
Most source{d} employees will be at the Christmas Dinner.

[2018-11-01 03:17] SvenDowideit commented on #113
did you mean to title this 2018/12 ?

[2018-11-10 02:42] campoy commented on #99
After sync up decided not to go, for now.

[2018-11-10 02:42] #99 closed, assigned to campoy

[2018-11-14 00:15] erizocosmico commented on #111
There are no more tickets available so I guess there’s no point in keeping this open.

[2018-11-14 00:15] #111 closed, assigned to nobody

[2018-11-21 09:26] bzz commented on #108
<img width="523" alt="screen shot 2018-11-21 at 10 25 28 am" src="https://user-images.githubusercontent.com/5582506/48831760-cd890400-ed77-11e8-9e37-83c51fa82cdd.png">

https://src-d.slack.com/archives/C3H7SF8T0/p1542714756002100?thread_ts=1542714756.002100

[2018-11-26 20:30] campoy commented on #108
Hey @jfontan, could you add a PR with the abstract that you proposed?
Follow the instructions in the README.

[2018-11-29 17:02] jfontan commented on #108
Done #114

[2018-11-29 22:32] vcoisne commented on #112
@campoy this is coming up soon. Happy to submit for a talk on Code As Data or else ?

[2018-11-29 22:33] vcoisne commented on #66
Event is over. No action items. Closing.

[2018-11-29 22:33] #66 closed, assigned to nobody

[2018-11-29 22:33] vcoisne commented on #68
@campoy Did they share the recording ? Can you share your slides when you have minute ?

[2018-11-29 22:35] vcoisne commented on #73
@zurk Is this still something you'd like to do at some point ?

[2018-11-29 22:37] vcoisne commented on #82
Event is done. Video & slide published and promoted.

[2018-11-29 22:37] #82 closed, assigned to nobody

[2018-11-29 22:37] vcoisne commented on #88
Ping @vmarkovtsev

[2018-11-30 06:55] zurk commented on #73
Yeah, but we still do not have a release for style analyzer and this is top 1 thing to do. As soon as we done here I will translate it. It should be soon

[2018-11-30 09:14] vmarkovtsev commented on #88
Done

[2018-12-04 00:10] campoy commented on #68
slides: https://docs.google.com/presentation/d/e/2PACX-1vRgitd9s2FGgN52GZIMaW8m0bA7vvr0h2ErD-xZrPl7rl9hdBmuV5y2-3HEl_Rgztp6qvCQs2ncCUNc/pub?start=false&loop=false&delayms=3000

recording still not out

[2018-12-04 00:11] campoy commented on #112
yup, already on my todo list for this week

[2018-12-19 22:44] #113 closed, assigned to nobody

[2018-12-19 22:45] #110 closed, assigned to nobody

[2018-12-19 22:56] vcoisne commented on #105
Blog post has been published. https://medium.com/sourcedtech/its-a-wrap-source-d-s-participation-in-hacktoberfest-9223814a6a49 closing.

[2018-12-19 22:56] #105 closed, assigned to nobody

[2018-12-20 13:31] vmarkovtsev commented on #108
My talk was rejected, as it was the last year. I will keep submitting until they goddamn accept it!

BTW, there is an opportunity to save 50 bucks for a ticket by using the following promo code: `GM19THANKS `

[2018-12-20 13:40] vmarkovtsev opened #116 "2019/05 - DevSum"
**URL**: https://www.devsum.se/

**Location**: Stockholm, Sweden

**Dates**: 2019/05/23-24

**Expenses covered**: transportation and hotel are covered 🎉

**Topic**: software engineering

**Call for Papers**:

deadline: 2019/01/02
(according to Sessionize; the other page says December 23rd)
link: https://sessionize.com/devsum/

**Notes**:

I read some positive feedback about this conference on the

[2018-12-20 14:04] vmarkovtsev opened #118 "2019/03 - MLConf New York"
**URL**: https://mlconf.com/events/mlconf-new-york-2019/

**Location**: New York, US

**Dates**: 2019/03/29

**Expenses covered**: not mentioned => no

**Topic**: Machine Learning 🎉

**Call for Papers**:

deadline: 2018/12/31
link: https://docs.google.com/forms/d/1H8XtsBXqKV5xqG3ugqSMEYZkyC1S0qgcX5SnqavZfrU

**Notes**:

Found in Google. Apparently, Slack HDE loves it :D

[2018-12-22 00:06] vcoisne commented on #97
@EgorBu how did the talk go ? Can you share your slides / video recording by submitting a PR to this repo ?

[2018-12-22 00:07] vcoisne commented on #90
@vmarkovtsev how did the talk go ? was that the same slides as the other DevFest on tensorflow.js ?

[2018-12-22 00:08] vcoisne commented on #89
@vmarkovtsev was that the same slides as the other DevFest on tensorflow.js ? Want to submit a PR so that we can close this issue ?

[2018-12-22 00:16] vcoisne opened #119 "2019/05 DockerCon US 2019"
**URL**: 2019.dockercon.com (Not live yet)

**Location**: San Francisco, CA

**Dates**: 2019/04/29- 2019/05/2

**Expenses covered**: Not needed for Francesc

**Topic**:  containers, Kubernetes, Docker

**Call for Papers**:

deadline: 2019/01/18
link:  https://dockercon19.smarteventscloud.com/portal/cfp/home.ww

**Notes**:

I think we should submit a talk on a YAML / Dockerfile bblfsh parser cc @ca

[2019-01-07 20:52] vcoisne commented on #119
@campoy following our conversation with Garreth,  It would be cool to submit a talk on parsing Dockerfile and YAML files. WDYT ?

[2019-01-07 20:54] vcoisne commented on #106
@rporres @meyskens Might be worth submitting a talk based on our internal Kubernetes use case ?

@campoy Happy to submit a talk on your behalf about the Kubernetes Analysis we did ?

[2019-01-07 22:02] campoy commented on #106
I'm planning on doing that this week, but if you wanna get the abstract started that'd definitely be helpful

[2019-01-07 22:04] campoy commented on #119
Definitely agreed, but probably checking with @creachadair first.

If I recall correctly there were some doubts about whether a YAML parser for Bblfsh would make sense at all.

[2019-01-07 23:01] creachadair commented on #119
I don't see any immediate reason _against_ having a Babelfish parser for YAML. The main difficulty with these metasyntactic languages like JSON and YAML is that their surface grammar is rarely the one you really care about. In other words, you rarely want to do operations on arbitrary JSON (say), vs. "the JSON corresponding to kubectl request messages" or some other concrete grammar that uses JSON

[2019-01-07 23:12] campoy commented on #119
I would like to be able to perform analyses on both json and yaml eventually, but I'm not completely sure what's the best way to get there.

Bbblfsh parsers would be a way, an alternative would be some kind of MySQL custom functions, which once we have UDFs should be relatively easy to add.

@mcuadros, what do you think about all this?

[2019-01-07 23:13] campoy commented on #108
That's the spirit, one day we'll get it!

[2019-01-10 01:39] #68 closed, assigned to nobody

[2019-01-10 01:40] campoy commented on #73
The style analyzer is ready to be released, so should we work on this?

[2019-01-10 01:40] #88 closed, assigned to nobody

[2019-01-10 01:41] campoy commented on #89
ping

[2019-01-10 01:41] campoy commented on #90
ping

[2019-01-10 01:41] campoy commented on #95
Recording available only behind paywall, apparently :-/

[2019-01-10 01:41] #95 closed, assigned to nobody

[2019-01-10 01:41] campoy commented on #97
ping @EgorBu

[2019-01-10 09:10] zurk commented on #73
yeah, I remember about this issue, thanks for ping anyway. :) Today we have a lot of meetings, I plan to do it tomorrow.

[2019-01-10 10:48] vmarkovtsev commented on #89
The PR has already been merged https://github.com/src-d/conferences/pull/93 and we can close.

[2019-01-10 10:49] vmarkovtsev commented on #90
The PR has already been merged https://github.com/src-d/conferences/pull/94 and we can close.

[2019-01-10 19:17] vcoisne commented on #90
Closing then.

[2019-01-10 19:17] #90 closed, assigned to nobody

[2019-01-10 19:18] vcoisne commented on #89
Closing.

[2019-01-10 19:18] #89 closed, assigned to nobody

[2019-01-11 13:05] rporres commented on #106
@vcoisne There's nothing very special about our k8s internal case apart from the way we install it, which has already been subject of talks.

[2019-01-11 18:31] vcoisne commented on #106
@rporres noted.

@campoy how about the following for the abstract:

As the Kubernetes project nears 2 million lines of code (including all languages and generated files), many users are wondering about the evolution and trends of the 4-year-old open source project overtime. The community of users is probably wondering if the project is showing signs of maturity, what are the areas under heavy deve

[2019-01-14 11:24] vmarkovtsev commented on #118
Nobody submitted because the deadline finished while everybody was on vacations. @campoy can be closed.

[2019-01-14 11:33] vmarkovtsev opened #122 "2019-06 ML Conference"
**URL**: https://mlconference.ai/

**Location**: Munich, Germany

**Dates**: 2019/06/17-19

**Expenses covered**: no info; the conference is paid so we should ask to provide a hotel or flights

**Topic**: ML

**Call for Papers**:

deadline: 2019/01/14
link: https://callforpapers.sandsmedia.com/

**Notes**:

Egor has spoken twice there. Seal of approval.

[2019-01-14 15:45] zurk commented on #73
check this out! https://zurk.github.io/moscow-python-06-2018-en/

[2019-01-14 15:47] m09 commented on #122
As discussed I submitted a CFP

[2019-01-14 17:20] vmarkovtsev commented on #122
@m09 Can you please create a PR with your submission, e.g. https://github.com/src-d/conferences/pull/123

[2019-01-14 19:55] campoy commented on #73
Thanks, @zurk!

Hey @vcoisne I'll let you handle this and make sure we add it to our social media sharing list.

[2019-01-14 20:04] #118 closed, assigned to nobody

[2019-01-14 20:09] vcoisne commented on #73
Yep, on it.

[2019-01-15 16:29] vcoisne opened #125 "2019 - AI conference"
**URL**: https://conferences.oreilly.com/artificial-intelligence/ai-ca

**Location**: San Jose, CA

**Dates**: 2019/09/10-12

**Expenses covered**: No

**Topic**:     topic of the conference: AI, ML

**Call for Papers**:

deadline: 2019/02/26
link:     https://conferences.oreilly.com/artificial-intelligence/ai-ca/public/cfp/704

**Notes**:
Audience is going to include our targetted personas in ter

[2019-01-23 16:49] meyskens opened #127 "2019/03 - dotGo"
**URL**: https://www.dotgo.eu/

**Location**: Paris, France

**Dates**: 2019/03/25

**Expenses covered**: "we may be able to cover the travel & hotel for the submissions we accept as regular slots. Selected lightning talk speakers will get a free ticket to the conference."

**Topic**: Go

**Call for Papers**:

deadline:  6 weeks before the event for regular slots, and 2 weeks before for lightning

[2019-01-29 00:17] campoy commented on #112
Talk was accepted as a backup talk, so I'll leave the phase as is for now.

[2019-01-29 00:21] campoy commented on #127
Hey @src-d/company-wide,

I invite everyone to propose a talk for dotGo!
I'm not planning on attending this year, but I can coach you and help writing the abstract.

[2019-01-29 00:25] campoy commented on #122
@vmarkovtsev was accepted, any news on @m09's proposal?

[2019-01-29 00:26] campoy commented on #116
Hey @vmarkovtsev, let me know if the proposal is accepted.

[2019-01-29 00:27] campoy commented on #73
I guess we can close this now.

[2019-01-29 00:27] #73 closed, assigned to zurk

[2019-01-29 06:38] vmarkovtsev commented on #122
I checked yesterday, nothing...

[2019-01-29 06:41] vmarkovtsev commented on #116
Their website says "more speakers will be announced during the spring". So I have to wait.

[2019-01-29 10:29] m09 commented on #122
I didn't receive anything (neither refusal nor approval) so I guess it's been rejected :(

[2019-01-29 11:02] vmarkovtsev commented on #122
They are still considering

[2019-01-29 11:10] EgorBu commented on #97
Sorry, missed your messages.
[Slides](https://docs.google.com/presentation/d/1THcPCLlucV7Q7EKYCKn1NFu62RjTrN-4nbOI_t0Ga3A) and I haven't received any video.
The talk was average - too much material & there were some issues with equipment and no time gap between presentations (there was a gap after lunch but it was occupied by people who should make speeches before me).

[2019-01-29 22:39] campoy commented on #97
Ok, don't worry about the recording then.

Just send a PR adding the link to the slides on the proposal.

Thansk, @EgorBu !

[2019-01-30 09:24] vcoisne opened #128 "2019/10 AI Conference Europe"
**URL**: https://conferences.oreilly.com/artificial-intelligence/ai-eu

**Location**: London, UK

**Dates**: 2019/10/14-17

**Expenses covered** :Maybe
**Topic**:     ML, AI, DAta

**Call for Papers**:

Deadline: 2019/03/01
link: https://conferences.oreilly.com/artificial-intelligence/ai-eu

**Notes**:

Lead generation event in the EU, generalist enough for business attendees.

[2019-01-30 09:36] vcoisne opened #129 "2019/11 - Velocity Europe"
**URL**: https://conferences.oreilly.com/velocity/vl-eu

**Location**: Berlin, Germany

**Dates**: 2019/11/4-7

**Expenses covered**: fees covered for speakers: transportation, hotel, etc

**Topic**:  DevOps, SRE, GitOps

**Call for Papers**:

deadline: 2019/04/01
link:     https://conferences.oreilly.com/velocity/vl-eu/public/content/about

**Notes**:

Lead generation event in EMEA

[2019-02-04 13:50] #116 closed, assigned to nobody

[2019-02-04 13:51] campoy commented on #81
Last item is to release two blog posts covering the talks of each devroom + links to videos and slides.

@vcoisne will release them next week.

[2019-02-04 13:52] campoy commented on #119
Ended up not proposing anything, but I might consider attending.

For now I'm closing the issue.

[2019-02-04 13:52] #119 closed, assigned to campoy

[2019-02-04 13:53] campoy commented on #100
We should start working on this if we want to run a meetup, @vcoisne

[2019-02-04 13:53] campoy commented on #97
Ping, @EgorBu

[2019-02-04 16:01] vcoisne commented on #100
Yes not a priority on my to-do list right now but I will try to make it happen

[2019-02-06 16:28] warenlg opened #131 "2019/03 - AI & Society meetup"
**URL**: https://www.meetup.com/AI-and-society (French)

**Location**: Paris, France

**Dates**: 2019/03/04

**Expenses covered**: no

**Topic**:     3 talks around AI (1. Technology 2. Business 3. Society)
January's tech talk was about MLonCode from BeepAI

**Call for Papers**:

deadline: not specified

**Notes**:

I exchanged few mails with the organizer last week, and she would be ok to let me

[2019-02-06 17:07] warenlg opened #132 "2019/10 - SPLASH OOPSLA"
**URL**: https://conf.researchr.org/track/splash-2019/splash-2019-oopsla

**Location**: Athens, Greece

**Dates**: 2019/10/20-25)

**Expenses covered**: no

**Topic**:
* Software development
* New tools (such as language front-ends, program analyses, and runtime systems)
* New techniques (such as methodologies, design processes, and code organization approaches)
* New principles (such as formalism

[2019-02-07 09:53] bzz commented on #81
@vcoisne here is the blog post mentioned above https://blog.sourced.tech/post/fosdem-2018/

Would be happy to help/review this year's draft if needed.
I guess it would make sense to mention GitMerge and @jfontan talk somehow as well.

[2019-02-12 17:46] vcoisne commented on #131
Looks like a great opportunity to me. @campoy to confirm budget approval i.e 80 EUR

[2019-02-16 00:05] vcoisne commented on #98
Looking for Beer Payback happy hour venue on 5/27 for apx 50 to 100 ppl.

- [x] Find a venue
- [x] Create the eventbrite page
- [x] Promote the happy hour
- [x] Organize all logistics including swag, registration process, etc
- [x] Follow up email and actions

[2019-02-18 09:25] vmarkovtsev opened #133 "2019/05 - PyDays Vienna"
**URL**: https://www.pydays.at/

**Location**: Vienna, Austria

**Dates**: 2019/05/03-04

**Expenses covered**: no

**Topic**:  Python + special track for ML

**Call for Papers**:

deadline: 2019/03/25
link:     https://www.pydays.at/cfp/

**Notes**:

I and @warenlg participated last year: https://github.com/src-d/conferences/issues/59
The greatest feature was very good reception. Besides, there w

[2019-02-19 23:58] campoy commented on #108
Hey @jfontan, can you add your slides to the repo?
Also, was there any recording?

Then we can close this

[2019-02-19 23:58] campoy commented on #103
ML on Code talk was accepted

[2019-02-19 23:59] #81 closed, assigned to nobody

[2019-02-20 02:14] campoy opened #135 "2019/04 - GothamGo"
**URL**: http://gothamgo.com/

**Location**: NY, USA

**Dates**: 2019/04/12

**Expenses covered**: flight + hotel covered

**Topic**:  Go

**Call for Papers**:

deadline: closed
link:  n/a

**Notes**:

[2019-02-20 02:22] campoy commented on #135
Similarly to GOTO, if we cover the flight and hotel they would give us a Bronze sponsorship level.
What do you think @vcoisne?

[2019-02-20 03:20] vcoisne commented on #135
+1 worth accepting the offer IMO. @campoy I can help schedule a talk at a local NYC meetup at the same time to make it even more interesting in terms of ROI.

[2019-02-20 09:33] jfontan commented on #108
The recording is still not published. You can find the slides here:

https://docs.google.com/presentation/d/1DsXvoylMJ7EHGQvIU87eSptU3lJ_2f6iPcYXc7AzW70/edit?usp=sharing

[2019-03-04 12:28] jfontan commented on #108
Here's the recording link. It's still unlisted so I don't know if it will be the final URL:

https://www.youtube.com/watch?v=f_G1vwynxTg

[2019-03-05 13:23] m09 opened #137 "2019/03 - KTH"
**URL**: https://www.kth.se/en

**Location**: Stockholm, Sweden

**Date**: 2019/03/26

**Expenses covered**: no

**Topic**: source{d} stack and ML team projects

**Call for Papers**: N/A

**Notes**:

The talk will be part of the collaboration visit with Martin Monperrus' lab (KTH).

[2019-03-11 13:58] vmarkovtsev opened #138 "2019/04 - DevPRO"
**URL**: https://devpro.io/

**Location**: Tomsk, Russia

**Dates**: 2019/04/27-28

**Expenses covered**: yes!

**Topic**:  regular sw/dev

**Call for Papers**:

deadline: N/A
link: https://devpro.io/#program

**Notes**:

Contacted directly by the organizers.

[2019-03-11 15:58] warenlg opened #140 "2019/04 - AI Meetup Paris"
**URL**: https://www.meetup.com/Artificial-Intelligence-Meetup-Paris

**Location**: Paris, France

**Dates**: 2019/04/18

**Expenses covered**: No. I would stay home though, and would only need the flights (~100 EUR)

**Topic**:   The meetup is focused on new tech stacks available in AI and the use cases around AI. Thy usually invite exciting startups who are working in AI and present their techno

[2019-03-11 16:40] vcoisne commented on #140
@warenlg I think this is a great opportunity. definitely worth the $100.

[2019-03-12 11:44] bzz commented on #108
If no objections, I'm going to take a liberty and close this, as it seems like slides and recording was added by @jfontan above.

[2019-03-12 11:44] #108 closed, assigned to nobody

[2019-04-04 02:36] vcoisne opened #141 "2019/10 Tensorflow World"
**URL**: https://conferences.oreilly.com/tensorflow/tf-ca

**Location**: Santa Clara, CA

**Dates**: start and end dates (2019/10/28-31)

**Expenses covered**: Maybe

**Topic**: ML, TensorFlow

**Call for Papers**:

deadline:  2019/04/23
link:    https://conferences.oreilly.com/tensorflow/tf-ca/public/cfp/732

**Notes**:

We could submit a talk on our Tensorflow analysis cc @vmarkovtsev

[2019-04-08 22:19] vcoisne commented on #127
We missed the deadline.

[2019-04-08 22:19] #127 closed, assigned to nobody

[2019-04-08 22:19] vcoisne commented on #129
We missed the deadline.

[2019-04-08 22:19] #129 closed, assigned to nobody

[2019-04-09 20:09] vcoisne commented on #131
Slides have been published. Closing.

[2019-04-09 20:09] #131 closed, assigned to nobody

[2019-04-09 20:12] vcoisne commented on #112
Francesc will be speaking there but not about sourced. Closing.

[2019-04-09 20:12] #112 closed, assigned to campoy

[2019-04-09 20:16] vcoisne commented on #141
Ping @vmarkovtsev

[2019-04-09 20:26] vcoisne commented on #137
Sorry I did not get back to you earlier @m09. Assuming this did not happen ?

[2019-04-09 20:27] vcoisne commented on #133
I don't think it's an event we should prioritize. Seems like we missed the deadline anyways.

[2019-04-09 20:32] vcoisne commented on #132
@warenlg sorry I did not see this earlier. Looks like the deadline has passed for CFP. Seems like an interesting collaboration though. What does @vmarkovtsev thinks about this ?

[2019-04-09 20:47] m09 commented on #137
It did as part of my visit to KTH https://github.com/src-d/minutes/pull/524

[2019-04-09 20:56] vcoisne commented on #97
@EgorBu did you publish the slides somewhere ? If not, can you send them to me on slack and I will post & close this issue ?

[2019-04-09 20:57] vcoisne commented on #100
We had a meetup in SF at the same time.

[2019-04-09 20:57] #100 closed, assigned to nobody

[2019-04-09 21:01] vcoisne commented on #103
Francesc will be mentioning sourced in this talk but not tracking any action items. Closing.

[2019-04-09 21:01] #103 closed, assigned to nobody

[2019-04-09 21:02] vcoisne commented on #106
Talk was canceled due to Francesc leaving.

[2019-04-09 21:02] #106 closed, assigned to nobody

[2019-04-09 21:04] vcoisne commented on #125
Deadline has passed. Closing.

[2019-04-09 21:04] #125 closed, assigned to nobody

[2019-04-09 21:05] vcoisne commented on #122
@m09 @vmarkovtsev any update on this one ?

[2019-04-09 21:05] vcoisne commented on #107
Deadline has passed. Closing.

[2019-04-09 21:05] #107 closed, assigned to nobody

[2019-04-09 21:10] m09 commented on #122
I didn't receive anything so mine was refused it seems.

[2019-04-09 21:15] vmarkovtsev commented on #122
They published the programme, mine was accepted and Hugo's effectively rejected.

[2019-04-09 21:18] vmarkovtsev commented on #132
Yes, we should consider submitting a paper next year. We decided to go with [ML4SE](https://ml4se.github.io) this time since it was much lighter.

[2019-04-09 21:21] warenlg commented on #132
ok, let's remember this one for next year

[2019-04-10 12:56] vcoisne commented on #128
Deadline has passed, Closing.

[2019-04-10 12:56] #128 closed, assigned to nobody

[2019-04-10 15:55] bzz commented on #100
🚀 I guess it's ["Code as Data workshop: get insights from git repos with SQL"](http://archive.is/WPAxI) - linking, just for the sake of history.

[2019-04-22 09:27] irinakhismatullina commented on #133
No we didn't miss it, I [applied](https://github.com/src-d/conferences/blob/master/2019-pydays-vienna/typos-correction-with-lookout.md) and my talk was [accepted](https://github.com/src-d/conferences/blob/master/2019-pydays-vienna/typos-correction-with-lookout.md). The proposal was approved by Francesc and Vadim and discussed in the corresponding PR #134.

- The conference is on **3-4th of May**.

[2019-04-29 15:53] estherrgarcia commented on #133
Ticket Moscow - Vienna + accommodation done

[2019-05-26 16:59] bzz commented on #137
Taking a liberty of closing this one it has already happened and there is no further discussion.
Thank you @m09 for minutes with followup!

[2019-05-26 16:59] #137 closed, assigned to nobody

[2019-05-26 17:44] bzz commented on #140
@warenlg thank you for sharing slides https://warenlg.github.io/ai-society-2019-paris/# in advance, just in case is there any followup materials worth linking in as well? If so, please feel free to those post here.

Otherwise, as there is no further discussion I'll take a liberty and close this one, as it's been at least 1 month after the event.

[2019-05-26 17:44] #140 closed, assigned to nobody

[2019-05-26 17:46] bzz commented on #135
As soon as there is no further discussion and it's been more than 1 month since the event, I'll take a liberty and close this one.

[2019-05-26 17:46] #135 closed, assigned to nobody

[2019-05-26 17:49] bzz commented on #133
@irinakhismatullina how was it? Hope it was great success this year again 🎉 .

Sorry if I have missed it, but would you be so kind to please please post the link to the slides/video/any other materials from the conference that @vcoisne could use? Thanks!

I belive after that we should be good to close this one!

[2019-05-26 17:55] bzz commented on #132
Taking liberty of closing this, as soon as there is no further discussion, and the consensus seems to be that we apply next year which most probably is going to happen in a separate issue.

[2019-05-26 17:55] #132 closed, assigned to nobody

[2019-05-26 18:32] bzz opened #142 "2019/10 Apache Con EU, Berlin"
**URL**: https://aceu19.apachecon.com

**Location**: Berlin, Germany

**Dates**: 2019/10/22-24

**Expenses covered**: No.  (~300e on airplane + hotel)

**Topic**: Cloud, BigData, ML,

**Call for Papers**:

deadline: 2019/05/26
link:  https://aceu19.apachecon.com/call-presentations

**Notes**:

I'm helping to organize one of the tracks at this conference and was invited as an ASF project contributo

[2019-05-26 22:25] bzz commented on #142
Submitted initial proposal just to reserve the spot in #143.

If anybody is interested in being a co-speaker and present this talk together - please let me know, I'm very open! It could be a great option to start doing public speaking, as it's much less intimidating and more fun than doing it all alone.

[2019-05-27 19:30] se7entyse7en commented on #142
I'd be glad to be co-speaker for a talk about our use case of Apache Superset!

[2019-05-29 22:22] vcoisne commented on #142
Great idea @bzz ! Let me know once you here back + add to the event calendar please

[2019-05-29 22:23] vcoisne commented on #97
This is an old issue, content is out dated by now. closing.

[2019-05-29 22:23] #97 closed, assigned to nobody

[2019-05-29 22:24] vcoisne commented on #141
Deadline has passed. Closing.

[2019-05-29 22:24] #141 closed, assigned to nobody

[2019-05-29 22:25] vcoisne commented on #138
Done. Closing.

[2019-05-29 22:25] #138 closed, assigned to nobody

[2019-05-29 22:25] vcoisne commented on #133
ping @irinakhismatullina

[2019-05-30 05:29] vcoisne opened #144 "2019/11 - GitHub Universe"
**URL**: https://githubuniverse.com/

**Location**: San Francisco, USA

**Dates**: 2019/11/13-14)

**Expenses covered**: Maybe

**Topic**: Topic of the conference: Git, Software Development

**Call for Papers**:
Deadline: 2019/06/17
Link: https://github.submittable.com/submit/141371/github-universe-2019-call-for-proposals

**Notes**:

Would be great to organize an Executive event at the same time!

[2019-05-30 05:36] vcoisne opened #145 "2019/10 - AIDEVWORLD"
**URL**: https://aidevworld.com/

**Location**: San Jose, CA

**Dates**: 2019/10/08-10

**Expenses covered**: maybe

**Topic**: ML, Enterprise

**Call for Papers**:

deadline: 2019/06/14
link:     https://aidevworld.com/conference/apply-to-speak/

**Notes**:

Anything else that might be interesting for someone trying to evaluate whether this
conference is worth applying to. Were you invited? Do yo

[2019-05-31 13:46] bzz commented on #144
From this year's guideline

Will think on what part of src-d story/stack could be a good fit for this conference.

[2019-06-03 08:34] irinakhismatullina commented on #133
It was indeed nice. Though they gave me the earliest slot in the morning, so there were not so many people listening. But I think it was good for the first talk, and the orgs and the audience were super supportive and engaged.

Here are the [slides](https://irinakhismatullina.github.io/2019-vienna-pydays/). They didn't record video, so I think that's all I can provide.

[2019-06-17 21:09] vcoisne opened #146 "2019/11 - Open Data Science Conference"
**URL**: https://odsc.com/london

**Location**: London, UK

**Dates**: start and end dates (201/11/19-22)

**Expenses covered**: No

**Topic**:     topic of the conference: ML, Data Science

**Call for Papers**:

Deadline: 2019/06/31

link:     https://docs.google.com/forms/d/e/1FAIpQLScli1CPUVamej1Wb2WhXa3q4jYkzv95TXd2ddalzIVKd6WV4w/viewform

**Notes**:

Relevant for Enterprise sales

[2019-06-17 21:10] vcoisne commented on #133
Thank you @irinakhismatullina !

[2019-06-17 21:10] #133 closed, assigned to nobody

[2019-06-19 15:48] warenlg opened #147 "2019/07 - Nantes ML Meetup"
**URL**: https://www.meetup.com/Nantes-Machine-Learning-Meetup/events/262447084/

**Location**: Nantes, France

**Dates**: 2019/07/01

**Expenses covered**: flights covered, and I have some family there where I could sleep

**Topic**: ML

**Notes**:

The event is co-organized by @m09. The talk in French with English slides would last 45min to 1h and the audience would have a high technical level.

[2019-06-20 17:08] vmarkovtsev opened #148 "2019/07 - Skyhacks"
*URL**: https://github.com/SkyhacksPL/Talks https://www.facebook.com/events/2260432254015521

**Location**: Gliwice, Poland

**Dates**: 2019/07/15

**Expenses covered**: the hotel is covered

**Topic**: ML

**Call for Papers**:

deadline: N/A
link: N/A

**Notes**:

Contacted directly by the organizers. 500 attendees o_O

[2019-06-21 17:02] bzz commented on #144
I'm sorry, I was not able to come up with much this time.

[2019-06-25 09:46] m09 opened #150 "2019/10 - Devfest Nantes"
**URL**: https://devfest.gdgnantes.com/

**Location**: Nantes, France

**Dates**: 2019/10/21-22

**Expenses covered**: only for keynote speakers I think.

**Topic**: general conference

**Call for Papers**:

deadline: 2019/06/30
link: https://conference-hall.io/public/event/o2j0dYZDa0W1Ils3kO0z

**Notes**:

Biggest Devfest in Europe if I'm not mistaken. I already organized a codelab there and the

[2019-06-27 07:38] vmarkovtsev commented on #146
I tried to speak there 2 times, and they did not accept me. Well, who knows, maybe I will have better luck this time.

[2019-06-27 07:41] vmarkovtsev opened #151 "2019/11 - Data Natives"
**URL**: https://datanatives.io/

**Location**: Berlin, Germany

**Dates**: 2019/11/25-26

**Expenses covered**: no

**Topic**:  ML, AI

**Call for Papers**:

deadline: 2019/07/01
link: https://datanatives.typeform.com/to/lOn3XI

**Notes**:

I spoke there two years ago. The organizers contacted me and I've submitted a talk today.

[2019-06-27 07:42] vmarkovtsev commented on #151
TODO: turn this into an issue

### Title

On the road to shared ML infrastructure

### Abstract

Summary of our experience with constructing and maintaining a machine learning infrastructure for the R&D team. Constrained resources, Docker, Kubernetes, and you. How we solved the problems, e.g. GPU overcommitting for JupyterLab. What's the difference between a research environment and a production e

[2019-07-08 14:04] m09 commented on #150
Accepted :tada: :champagne: :rocket:

[2019-07-09 16:24] bzz commented on #142
Was not accepted - the whole conference ended up having only 8 talks in total for the whole BigData track.

@se7entyse7en I suggest us still working on preparing materials for such talk in background and using it for another conference.

Closing this issue for now

[2019-07-09 16:25] #142 closed, assigned to nobody

[2019-07-16 22:43] EgorBu opened #153 "2019/09 - UseData Conf 2019"
**URL**:  https://usedata.ru/2019

**Location**: Moscow, Russia

**Dates**: 2019/09/16

**Expenses covered**: should be no expenses for me (live in Moscow)

**Topic**:    ML

**Call for Papers**:

deadline: 2019/07/16
link:     https://conf.ontico.ru/lectures/propose?conference=ds2019

**Notes**:

They have a person from JetBrain in the program committee. The conference focus is on applied ML

[2019-07-24 11:16] vcoisne commented on #151
@vmarkovtsev sorry I did not see this earlier. Please tag or assign to me so that I can review on time.

Did you end up submitting ?

[2019-07-24 11:19] vcoisne commented on #153
@EgorBu sorry I did not see this earlier. Please tag or assign to me so that I can review on time.

Did you end up submitting?

[2019-07-24 11:19] vcoisne commented on #148
@vmarkovtsev sorry I did not see this earlier. Please tag or assign to me so that I can review on time.

Did you end up submitting?

[2019-07-24 11:24] vmarkovtsev commented on #122
This happened. The slides are: http://vmarkovtsev.github.io/mlconference-2019-munich

[2019-07-24 12:41] vcoisne commented on #98
Event was a success, on to the next edition.

[2019-07-24 12:41] #98 closed, assigned to nobody

[2019-07-24 12:43] #144 closed, assigned to nobody

[2019-07-24 13:00] vmarkovtsev commented on #151
I got a preliminary acceptance, and I am talking with the organizers today.

[2019-07-24 14:06] vmarkovtsev commented on #148
Yes, the [referenced PR linked to this issue](https://github.com/src-d/conferences/pull/149) tracks my submission.

[2019-07-30 08:37] EgorBu commented on #153
@vcoisne , yes, I submitted a talk and had 1 discussion last week with one person from the review committee.
This guy is from JetBrains - so he likes the talk. They should send a decision by August, 16.

[2019-07-31 15:10] warenlg opened #154 "2019/12 ML Conference"
**URL**: https://mlconference.ai/

**Location**: Berlin, Germany

**Dates**: start and end dates (2019/12/09-11)

**Expenses covered**: Conference paid, and I can stay at Manu's (former source{d} intern living in Berlin), so only the flights.

**Topic**: The major of the talk is *Machine Learning Business & Strategy*

**Call for Papers**:

I submitted a talk at the last moment, the day of the dead

[2019-07-31 15:27] vmarkovtsev commented on #154
@dmitryvinn Please, when do we switch from GitHub issues to something more convenient :sob:

[2019-08-13 10:42] bzz opened #155 "2020/02 FOSDEM"
**URL**: https://fosdem.org/2020

**Location**: Brussels, Belgium

**Dates**: 2020/02/01-02

**Expenses covered**: no

**Topic**:  OSS

**Call for Participation**:

DevRoom proposals
 - 20 September
   deadline for developer room proposals
 - 30 September
   accepted developer rooms announced

https://fosdem.org/2020/news/2019-08-13-call-for-participation/

**Notes**:

- In 2017 we organized beer

[2019-08-13 10:48] bzz commented on #147
It'a August now - @warenlg please post her if there are any materials from the meet up and let's close this one.

[2019-08-13 10:51] bzz commented on #148
As the event has happened 🎉 and sliders published at http://vmarkovtsev.github.io/mlconference-2019-munich I'll take a liberty and close this one.

[2019-08-13 10:51] #148 closed, assigned to nobody

[2019-08-13 10:52] bzz commented on #122
As the event has happened and slides are posted, if no objections I'll be taking a liberty of closing this one.

[2019-08-13 10:52] #122 closed, assigned to nobody

[2019-08-13 10:54] bzz commented on #154
@warenlg could you also please PR the [CfP proposal](https://github.com/src-d/conferences#tracking-call-for-papers) and link it to this thread, so the good work does not get lost?

[2019-08-13 10:55] bzz commented on #145
@vcoisne @dmitryvinn as the deadline has passed - did we end up submitting anything here, or shall we close it?

[2019-08-13 10:56] bzz commented on #146
@vmarkovtsev oh, wow! Did you end up submitting any proposal this time as well?

Seems like the deadline for CfP has passed now.

[2019-08-14 14:55] EgorBu commented on #153
The talk was accepted.

[2019-08-14 15:00] warenlg commented on #154
https://github.com/src-d/conferences/pull/156

[2019-08-15 10:49] bzz commented on #155
I'm looking to start drafting an general "ML DevRoom" proposal and will post it here.
One of the speakers from https://www.sourcesense.com reached out, who seems to interested in collaborating/helping with this one this year.

[2019-08-15 18:23] bzz commented on #155
Hey, @creachadair @dmitryvinn @vcoisne @gomesfernanda @m09 @vmarkovtsev @mcuadros as soon as we have the deadline announced, do you want to have a quick kick-off call next week, so we can share the expectations?

[2019-08-16 10:27] bzz commented on #154
Closing as talk has successfully happened at https://mlconference.ai/machine-learning-business-strategy/how-to-identify-collaborators-in-large-codebases-using-unsupervised-learning/

@warenlg great job! If there are any slides/other materials you could share - please, feel free to link those in here, for the history as well.

[2019-08-19 07:39] vmarkovtsev commented on #155
Yes! A few thoughts about the plans:

I guess that we should ask @campoy about his involvement this year.

I am mentally prepared for this.

I feel that having a full ML room and a workshop /and Go perhaps/ maybe too much for us...

Extras:

- We should order many, many more nice t-shirts!
- We should already start collecting the list of ML companies which produce open-source.

[2019-08-19 08:15] mcuadros commented on #155
I vote for bringing the original idea of the LA room.

On Mon, Aug 19, 2019 at 9:39 AM Vadim Markovtsev
<notifications@github.com> wrote:

[2019-08-19 22:55] campoy commented on #155
I'm planning on organizing the Go devroom, yes.
I already sent a proposal.

[2019-08-20 18:41] creachadair commented on #155
I'm happy to help support a Go devroom if that is desired/useful.

I'm also glad to work on a Source Code Analysis room, though I think probably we should limit that to at most 1/2 day. I agree also with @vmarkovtsev that we should not commit to more than we can handle.

[2019-08-20 21:49] vcoisne commented on #154
All done.

[2019-08-20 21:49] #154 closed, assigned to nobody

[2019-08-20 21:50] vcoisne commented on #145
I think @vmarkovtsev submitted ?

[2019-08-21 12:50] vmarkovtsev commented on #145
I think I did not find time to apply there :disappointed:

[2019-08-26 09:45] bzz commented on #145
So, shall we close this one then, or do we have any other plans to engage @vcoisne ?

[2019-08-26 09:46] bzz commented on #147
@warenlg ping

[2019-08-26 17:07] vcoisne commented on #145
Closing.

[2019-08-26 17:07] #145 closed, assigned to nobody

[2019-09-02 06:10] bzz commented on #147
From the conversation in the meta-space: @warenlg is finishing the publishable deck materials and going to post it here asap.

[2019-09-02 07:44] bzz commented on #155
All that make sense to me.
I've taken the liberty of sending a Calendar invitation for a kick-off meeting for this Thu 5th 16:30 GMT+2.

[2019-09-02 07:54] bzz opened #157 "2020/01 - Applied Machine Learning Days, Workshop"
**URL**: https://www.appliedmldays.org

**Location**: Lausanne, Switzerland (EPFL)

**Dates**: 2020/01/25-29

**Expenses covered**: ?

**Topic**:  topic of the conference: ML, Go, etc

**Call for Papers**:

deadline: workshop CfP Friday 2019/09/13,  23:59 UTC (speakers CfP Opens in Sep)
link: https://www.appliedmldays.org/call-workshops

notification: Friday September 27

**Notes**:

This issue is

[2019-09-02 09:27] bzz commented on #157
I'm planing to submit a half-day workshop, reusing materials from #150 and focusing it around code modeling aspect.

[2019-09-02 13:00] bzz commented on #157
@m09 if you have some time - please feel free to help improving the [initial proposal draft](https://docs.google.com/document/d/1mUp2q76wwPZmvI3PNFkClG1MvQctwCJ_M88gu-3Zqu8/edit). After we finish with it, I'll be happy to submit a PR, following the usual process here.

[2019-09-06 07:20] vmarkovtsev commented on #151
@vcoisne Let's remove the "accepted" label for now. They have not contacted me since that call, and I am not mentioned in the list of speakers. There were two options for me: to sponsor them or to become a woman, I rejected both :(

[2019-09-06 07:24] vmarkovtsev opened #158 "2019/11 - DevFest Moscow"
**URL**: https://devfest-msk-2019.web.app/

**Location**: Moscow, Russia

**Dates**: 2019/11/09

**Expenses covered**: standard GDE coverage

**Topic**: pro-Google

**Call for Papers**:

deadline: N/A (expired)
link: N/A (expired)

**Notes**:

I found it randomly and had to participate to save the GDE status.

[2019-09-06 07:26] vmarkovtsev commented on #158
"Distributed training of Tensorflow models with Horovod" has been accepted today. There is nothing source{d} inside, I have to do some generic Tensorflow to save the GDE status.

[2019-09-06 15:44] vcoisne commented on #151
Removed @vmarkovtsev

[2019-09-10 08:59] bzz commented on #150
The schedule has bee announced https://devfest.gdgnantes.com/sessions/understand_your_code_with_machine_learning_on_source_code/

[2019-09-11 15:31] Guillemdb opened #159 "2019/10 PyconES 2019 (Alicante)"
# 2019/10 PyconES 2019 (Alicante)

**URL**: https://2019.es.pycon.org/

**Location**: Alicante, Spain

**Dates**:  2019/10/04 -2019/10/06

**Expenses covered**: None. I paid everything with my own money.

**Topic**:  Python, with a conference track about data science.

**Call for Papers**:
I got a workshop accepted. It will be an introductory workshop to data science (2h45min). You can find the ma

[2019-09-13 11:26] bzz commented on #157
The proposal from above has been submitted, we shall know the feedback by 27th of September 🤞

[2019-09-16 23:06] vcoisne commented on #159
Thank you @Guillemdb I added to the calendar and newsletter. We'll also promote on social media.

[2019-09-16 23:10] vcoisne commented on #158
Thanks @vmarkovtsev. Added to the calendar + newsletter anyways. Please post the materials here when ready.

[2019-09-16 23:14] vcoisne commented on #153
@EgorBu looks like the talk was today! Hope it went well. Are the materials in English or Russian?

[2019-09-16 23:18] vcoisne commented on #147
ping @warenlg

[2019-09-16 23:22] vcoisne commented on #146
Ping @vmarkovtsev did you end submitting?

Would be great to get someone to present there if not this edition, the next one in Boston.

cc @warenlg ?

[2019-09-17 13:15] EgorBu commented on #153
Yes, the talk went really well, a lot of people interested in what we are doing) and materials are available [here](https://egorbu.github.io/usedata_2019/)

[2019-09-17 14:51] vmarkovtsev commented on #151
I am silently rejected.

[2019-09-17 18:51] vcoisne commented on #151
Ok closing then

[2019-09-17 18:51] #151 closed, assigned to nobody

[2019-09-18 09:43] vmarkovtsev commented on #146
I submitted something smart, and they did not notify me of rejection, again :)

[2019-09-18 09:46] warenlg commented on #146
I haven't submitted anything given Vadim's feedback

[2019-09-18 10:03] vmarkovtsev opened #161 "2020/03 - MLConference Singapore"
**URL**: https://mlconference.ai

**Location**: Singapore

**Dates**: 2020/03/24-26

**Expenses covered**: I can expect the hotel to be covered. The plane tickets are under "?"

**Topic**: ML

**Call for Papers**:

deadline: 2019/10/21
link: https://callforpapers.sandsmedia.com/

**Notes**:

The MLConference series proved to be high quality, it is worth speaking and attending in any city :smile:

[2019-09-18 10:04] vmarkovtsev commented on #161
My submission:

### Towards the convenient ML infra

Summary of our experience with constructing, hacking, and maintaining the machine learning infrastructure for our R&D team of 10 people. What's the difference between a research ML environment and a production ML environment. Evolution of our workflow management. Encouraging the transparent and collaborative ML development culture. What's better

[2019-09-19 07:51] bzz commented on #161
said it's DECEMBER 9 – 11, 2019 | BERLIN 🤔

[2019-09-19 08:24] vmarkovtsev commented on #161
@bzz Yep they haven't updated their web site. The CFP page is fine though.

[2019-09-19 08:35] bzz commented on #155
Draft of the ML DevRoom proposal is [available](https://docs.google.com/document/d/1TkyhoYfGALvFkY6AZTKX72fGbg6w7XTmPRKPc9pnzIE/edit). Please feel free to edit/update/add feedback. I'm planing to submit it today around 5-6pm.

@creachadair I have also update this issue description to include links to the materials from the previous years of Source Code Analysis devRoom, just in case you want to us

[2019-09-19 13:01] bzz commented on #150
@m09 as I'm AFK now, would you be so kind to link a gdoc with the recent meeting "minutes" and a preliminary action plan for preparing this one here please? :pray:

[2019-09-19 20:50] bzz commented on #155
A 1 day `Machine Learning` devRoom proposal has been submitted.

[2019-09-20 04:50] creachadair commented on #155
Thanks @bzz for the resources. I also added a draft [proposal](https://docs.google.com/document/d/1OBov7ZLD6edALzdRFEFhS319F3tJrWrItMyCzpiUUaw/edit) for the Source Code Analysis half-day we discussed.

[2019-09-20 17:38] creachadair commented on #155
Thanks for the comments so far! If there are no more comments in the next few hours, I plan to submit the proposal this afternoon (my time) to be sure it lands before the deadline.

[2019-09-20 20:49] creachadair commented on #155
The half-day Source Code Analysis proposal linked above has been submitted.

[2019-10-02 06:42] bzz commented on #157
They are late on decision and we are still waiting for their feedback.

[2019-10-02 06:44] bzz commented on #155
The list of [accepted DevRoom rooms](https://fosdem.org/2020/news/2019-10-01-accepted-developer-rooms/) has been just published.

ML DevRoom has not been accepted this year (there seems to be an [NLP track](https://archive.fosdem.org/2016/schedule/track/coding_for_language_communities/) again).

[2019-10-02 15:49] creachadair commented on #155
The Source Code Analysis half-day was also not accepted this year. 😞

[2019-10-04 16:04] vcoisne opened #162 "2020/03 - AI conference"
AI Conference O'reilly

**URL**: https://conferences.oreilly.com/artificial-intelligence/ai-ca-20/

**Location**: San Jose, CA

**Dates**: 2020/3/15-18

**Expenses covered**: NO

**Topic**: ML, AI

**Call for Papers**:

Deadline: 2019/10/8
link:     https://conferences.oreilly.com/artificial-intelligence/ai-ca-20/public/cfp/768

**Notes**:

Anything else that might be interesting for someone tryin

[2019-10-04 16:41] bzz commented on #161
@EgorBu did you end up submitting a workshops proposal as well?

[2019-10-04 16:43] bzz commented on #157
The workshop has been accepted 💃
[code]

Will post the schedule link as soon as it's announced.

[2019-10-04 17:25] vcoisne commented on #157
Awesome news @bzz I will add to calendar + newsletter when scheduled is published. Would you be open to speaking at a meetup in Geneva while you're there ? I can try to make that happen.

[2019-10-07 07:22] EgorBu commented on #161
@bzz , not yet.

[2019-10-14 16:24] bzz commented on #150
Today's workshop planing meeting followup is available [here](https://docs.google.com/document/d/1671ApmxFCOmerVKloVC6Q6j8BsJr8xZHbhuE40ZK-as/edit#).

[2019-10-16 14:56] bzz commented on #150
All the materials and the initial prep work is handled under https://github.com/mloncode/devfest2019-workshop

[2019-10-16 17:14] vcoisne commented on #153
Thank you @EgorBu promoted via newsletter and social media.

[2019-10-16 17:14] #153 closed, assigned to vcoisne

[2019-10-16 17:15] vcoisne commented on #159
Past event.

[2019-10-16 17:15] #159 closed, assigned to vcoisne

[2019-10-24 18:26] bzz commented on #150
![2019-10-24](https://user-images.githubusercontent.com/5582506/67513857-00303080-f69c-11e9-91ec-bef011b64652.jpg)

The conference was huge! 🙇 @m09 @EgorBu

Done, closing as all materials are on GH repo.

[2019-10-24 18:26] #150 closed, assigned to nobody

[2019-10-24 18:32] bzz commented on #157
The schedule was announced https://appliedmldays.org/workshops/machine-learning-for-software-engineering-modelling-the-source-code 🚀

Most probably yes, we figure out a way to do that interesting, base on GitHub.com/docker analysis - @m09 is about to run some experiments to validate that this week/early next week and get back to you with some questions.

[2019-10-28 13:15] bzz commented on #146
Going to close this one, as no one seems to be presenting or attending this time.

[2019-10-28 13:15] #146 closed, assigned to nobody